:root {
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --sandy-brown: hsl(29, 90%, 65%);
    --purple: #7276e1;
    --orange: hsl(14, 88%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --grey-light: hsl(237, 12%, 33%);
    --blue-mid: hsl(240, 6%, 50%);
    --credit-card-gold: #eca11f;
    --credit-card-green: #3edb65;
    --credit-card-dark: #3b556e;
    --credit-card-dark-2: #5d1efbd2;
    --credit-card-red: #df3512
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem
}

body {
    overflow-x: hidden
}

body::-webkit-scrollbar {
    width: 1vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

body::-webkit-scrollbar-track {
    background-color: #b3b3b300
}

body::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px
}

body::-webkit-scrollbar-thumb:hover {
    background: #30303092
}

button {
    cursor: pointer
}

.hide {
    display: none
}

.popup-blur {
    filter: blur(3px);
}

#advisory {
    cursor: pointer;
    color: #20640b
}

#advisory-text {
    background-color: #dadada2b;
    padding: 0 5px
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem
}

.btn:hover {
    background: var(--orange)
}

.header {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1d3577;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%
}

.header .logo {
    color: #000;
    font-size: 2.5rem;
    margin-right: auto;
    background-image: linear-gradient(to right, #fff 0, #fff 75%, #1d3577 100%);
    padding: .5rem 1rem
}

.header .logo span {
    color: var(--orange)
}

.header .navbar a {
    color: #fff;
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize
}

.header .navbar a:hover {
    color: var(--orange)
}

.header .icons i {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    color: #1d3577;
    background: #ffe500;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer
}

.header .icons i:hover {
    color: #fff;
    background: var(--orange)
}

#search-icon {
    display: none
}

.header .search-form {
    position: absolute;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top: 110%;
    right: 7%;
    height: 6rem;
    width: 50rem;
    padding: 1rem;
    display: none
}

.header .search-form.active {
    display: flex
}

.header .search-form #search-box {
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    height: 100%
}

.header .search-form label {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color: var(--black)
}

.header .search-form label:hover {
    color: var(--orange)
}

#menu-bars {
    display: none
}

.main-section {
    margin-top: 90px
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    width: 30%;
    height: 78%;
    padding: 5px
}

.sidebar .box {
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
    background: #fff;
    margin: 0 2% 1.5rem 2%
}

.sidebar .box .title {
    padding: 1.5rem;
    font-size: 2rem;
    color: #fff;
    background: #1d3577;
    text-transform: capitalize
}

.sidebar .box .about {
    text-align: center;
    padding: 1rem 1.5rem
}

.sidebar .box .about img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0
}

.sidebar .box .about h3 {
    color: var(--orange);
    font-size: 2rem
}

.sidebar .box .about p {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem
}

.sidebar .box .about .follow {
    padding: 1rem 0
}

.sidebar .box .about .follow a {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--black);
    color: #fff;
    font-size: 1.7rem;
    margin: 0 .1rem
}

.sidebar .box .about .follow a:hover {
    background: var(--orange)
}

.sidebar .box .category {
    padding: 1rem 1.5rem;
    max-height: 40rem;
    overflow-y: scroll
}

.sidebar .box .category::-webkit-scrollbar,
.sidebar .box .p-post::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

.sidebar .box .category::-webkit-scrollbar-track,
.sidebar .box .p-post::-webkit-scrollbar-track {
    background-color: #30303000
}

.sidebar .box .category::-webkit-scrollbar-thumb,
.sidebar .box .p-post::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

.sidebar .box .category::-webkit-scrollbar-thumb:hover,
.sidebar .box .p-post::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

.sidebar .box .category a {
    padding: .4rem 0;
    font-size: 1.7rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sidebar .box .category a span {
    background: #1d3577;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem
}

.sidebar .box .category a:hover {
    color: var(--orange)
}

.sidebar .box .category a:hover span {
    background-color: var(--orange)
}

.sidebar .box .p-post {
    padding: 1rem 2rem;
    max-height: 40rem;
    overflow-y: scroll
}

.sidebar .box .p-post a {
    padding: 1rem 0;
    display: block
}

.sidebar .box .p-post a h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem
}

.sidebar .box .p-post a span {
    color: var(--black);
    font-size: 1.5rem
}

.sidebar .box .p-post a span i {
    padding-right: .2rem
}

.sidebar .box .p-post a:hover h3 {
    color: var(--orange)
}

.sidebar::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

.sidebar::-webkit-scrollbar-track {
    background-color: #30303000
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

.container {
    width: 68%
}

.mini-banner {
    position: relative;
    background-color: red;
    height: 40px;
    width: 100%
}

.mini-banner-alt {
    position: relative;
    background-color: transparent
}

.mini-banner-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    padding: 4px 5px;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mini-banner-btn-alt {
    background-color: #ffe500
}

.item-box {
    padding: 10px;
    margin: 4%;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.item-box-alt {
    max-width: 30rem;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.post-item-link {
    padding: 0;
    margin: 0;
    background-color: transparent
}

.container .posts-container .post {
    width: 100%;
    padding: 3.5rem;
    background: #fff;
    margin-bottom: 1.5rem
}

@media (max-width:560px) {
    .container .posts-container .post {
        padding: 0
    }
}

.container .posts-container .post-top {
    border: none;
    margin-bottom: 1.5rem;
    padding: 0 3.5rem
}

.container .posts-container .post-top .text span {
    font-weight: 800;
    font-size: large;
    color: #1d3577
}

.container .posts-container .post-top .h1-blog {
    margin-bottom: 2.5rem
}

.breadcrumbs-container .breadcrumbs {
    padding: .5rem 0 1.5rem 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    margin: 2.5% 0
}

.breadcrumbs-container .breadcrumbs-alt {
    padding: .5rem 0 0 0;
    margin: 0
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item {
    display: inline-block;
    margin: 0 0 3% 0;
    padding: .5% 0
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
    content: "/";
    margin: 0 .5rem;
    color: #fcae65
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
    text-decoration: none
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
    text-decoration: underline
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link--active {
    color: #2e20aa
}

.container .posts-container .post .image {
    height: 40rem;
    width: 100%;
    border-radius: .8rem;
    object-fit: contain
}

.container .posts-container .post .image-alt {
    object-fit: fill
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(.5rem)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(.5rem)
    }

    100% {
        transform: translateY(0)
    }
}

.container .posts-container .post .date {
    padding-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .date a {
    color: #1d3577
}

.container .posts-container .post .title {
    padding: 1.5rem 0;
    font-size: 2.8rem;
    color: #1d3577;
    line-height: 1.8
}

.container .posts-container .post .title span:not(:last-child) {
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background-color: #1d3577;
    font-size: 3.5rem;
    color: #fff
}

.container .posts-container .post .text span {
    color: #00f
}

.container .posts-container .post .text b {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 600
}

.container .posts-container .post .title-secondary {
    font-size: 26px;
    color: #00f
}

.container .posts-container .post .h2-highlight {
    font-size: 2.8rem;
    font-weight: 600
}

.dot-bounce {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: .5rem;
    animation: dot-scaling 2.5s ease-in-out infinite
}

.dot-bounce:nth-child(0) {
    animation-delay: 0s
}

.dot-bounce:nth-child(1) {
    animation-delay: .2s
}

.dot-bounce:nth-child(2) {
    animation-delay: .4s
}

.dot-bounce:nth-child(3) {
    animation-delay: .6s
}

.dot-bounce:nth-child(4) {
    animation-delay: .8s
}

.dot-bounce:nth-child(5) {
    animation-delay: 1s
}

@keyframes dot-scaling {

    0%,
    100% {
        transform: scale(.2);
        background-color: #30ffb7
    }

    40% {
        transform: scale(1);
        background-color: #07deff
    }

    50% {
        transform: scale(1);
        background-color: #0761ff
    }
}

.container .posts-container .post .text {
    color: var(--black);
    font-size: 2rem;
    line-height: 2.2;
    padding: 1rem 0
}

.container .posts-container .top-picks {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 4rem
}

.container .posts-container .top-picks h3 {
    background-color: #1d3577;
    padding: 5px
}

.container .posts-container .top-picks .related-link-list,
.container .posts-container .top-picks .top-picks-list {
    max-height: 35rem;
    overflow-y: scroll;
    padding: 0 2rem;
    background-color: #eee
}

.container .posts-container .top-picks .related-link-list h4,
.container .posts-container .top-picks .top-picks-list h4 {
    color: #303030
}

.container .posts-container .top-picks .related-link-list li a,
.container .posts-container .top-picks .top-picks-list li a {
    font-size: 1.8rem
}

.related-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container .posts-container .post .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center
}

.container .posts-container .post .links .icon {
    padding-right: 1rem
}

.container .posts-container .post .links a {
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .links a i {
    padding-right: .2rem;
    color: var(--black)
}

.container .posts-container .post .links a:hover,
.container .posts-container .post .links a:hover i {
    color: #333
}

.active {
    background-color: #ccc
}

.faq {
    background-color: #fff;
    border-radius: 25px;
    margin: 60px 5% 5% 5%
}

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%
}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    width: 90%
}

.faq__text {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 10px 0 0 0
}

.disclosure {
    background-color: #1d3577;
    color: #fff;
    padding: 45px
}

.disclosure strong {
    font-size: 1.8rem;
    font-weight: 600
}

.disclosure p {
    font-size: 1.4rem
}

.disclosure p span {
    color: var(--orange);
    font-size: 1.6rem
}

.disclosure p a {
    color: #2fcbff
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0
}

.footer .credit span {
    color: #000
}

.footer .follow {
    padding: 1rem 0
}

.footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--orange);
    color: #fff;
    margin: 0 .1rem;
    text-align: center
}

.footer .follow a:hover {
    background: var(--orange)
}

.footer-h2-page-tags {
    display: none
}

.div-container-main, .container .posts-container .post .text-alt {
    background: #3d95fa2d;
    padding: 25px;
    border-radius: 15px
}

.div-container,
.table-container {
    background-color: #dadada2b;
    padding: 25px
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    width: 100%
}

table thead {
    box-shadow: 0 5px 10px #e1e5ee
}

table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-weight: 900
}

table tbody {
    font-size: 14px
}

table td {
    padding: 1rem 2rem;
    min-width: 100px;
}

table a {
    text-decoration: none;
    color: #2962ff
}

table .status {
    border-radius: .2rem;
    background-color: red;
    padding: .2rem 1rem;
    text-align: center
}

table .status-mid {
    background-color: #fff0c2;
    color: #a68b00;
}

table .status-low {
    background-color: #c8e6c9;
    color: #388e3c
}

table .amount {
    text-align: right
}

table tr:nth-child(even) {
    background-color: #f4f6fb
}

.color-green {
    background-color: var(--credit-card-green)
}

.color-red {
    background-color: var(--credit-card-red)
}

.card-main {
    width: 100%;
    margin-bottom: 10px
}

.card {
    --border-radius: .5rem;
    position: relative;
    aspect-ratio: 8.5/5;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 15rem;
    margin: 0 auto;
    box-shadow: 0 .75rem 2rem 0 rgba(185, 185, 185, .75)
}

.card__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "balance .""income expenses""account account";
    gap: 10px 24px
}

.card__item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: "value""label"
}

.card__item-label {
    grid-area: label;
    font-size: .66rem;
    font-weight: 600
}

.card__item--right>* {
    justify-self: end
}

@media (max-width:560px) {

    .div-container,
    .table-container {
        padding: 10px;
        overflow-x: scroll
    }

    .mobile-remove {
        display: none
    }
}

#svg-wave {
    animation: svg-wave 10s ease-in-out infinite
}

#red-circle-arrows {
    animation: red-arrow-down 8s ease-in-out infinite
}

#green-circle-arrows {
    animation: green-arrow-up 8s ease-in-out infinite
}

@keyframes svg-wave {
    0% {
        transform: scale(.9);
        transform: scaleX(.99)
    }

    50% {
        transform: scale(1.2);
        transform: scaleX(1.06)
    }

    100% {
        transform: scale(.9);
        transform: scaleX(.99)
    }
}

@keyframes red-arrow-down {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    25% {
        transform: translateY(.5rem);
        opacity: 0
    }

    50% {
        transform: translateY(0);
        opacity: 1
    }

    75% {
        transform: translateY(.5rem);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes green-arrow-up {
    0% {
        transform: translateY(.5rem);
        opacity: 0
    }

    25% {
        transform: translateY(0);
        opacity: 1
    }

    50% {
        transform: translateY(.5rem);
        opacity: 0
    }

    75% {
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(.5rem);
        opacity: 0
    }
}
.promo-box-container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 760px;
    width: 100%;
    min-height: 340px;
    background: linear-gradient(rgba(241, 221, 1, 0.9), rgba(229, 241, 1, 0.9)), url(/images/nova-tech-office-hero-3.png) no-repeat 100%;
    z-index: 1;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.promo-box-container .right-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(rgba(128, 0, 128, 0.6), rgba(128, 0, 128, 0.6)), url(/images/nova-tech-office-hero-3.png) no-repeat 100%;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.promo-box-container .linkspanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.promo-box-container .promo-title {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 40px;
    position: absolute;
    top: 40%;
    left: 36%;
    margin-right: 8%;
    margin-top: 0;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.promo-box-container .promo-title a {
    text-decoration: none;
    color: #000;
}
.promo-box-container .promo-title span.lighter {
    font-weight: 300;
    font-size: 20px;
}
.promo-box-container .cta-button {
    background: #f1ed01;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    float: right;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    z-index: 99;
    -o-transition: color 0.5s, background-color 0.5s;
    -ms-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    -webkit-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
}
.promo-box-container .cta-button:hover {
    color: #000;
    background-color: #c5f32f;
}
@media all and (max-width: 600px) {
    .promo-box-container {
        position: relative;
        margin: auto;
        display: block;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        height: 200px;
        z-index: 1;
        color: #000;
        background: linear-gradient(rgba(241, 221, 1, 0.9), rgba(229, 241, 1, 0.9)), url(/images/nova-tech-office-hero-3.png) no-repeat 90%;
    }
    .promo-box-container .promo-title {
        font-size: 22px;
        line-height: 28px;
    }
    .promo-box-container .promo-title span.lighter {
        font-size: 16px;
        display: block;
        line-height: 24px;
        margin-top: 10px;
    }
    .promo-box-container .cta-button {
        font-size: 14px;
        top: auto;
    }
    .promo-box-container .right-triangle {
        width: 39%;
        background: linear-gradient(rgba(128, 0, 128, 0.6), rgba(128, 0, 128, 0.6)), url(/images/nova-tech-office-hero-3.png) no-repeat 90%;
    }
}

@media (max-width:560px) {
    .svg-wave {
        height: 180px !important
    }
}

@media (max-width:991px) {
    .header {
        padding: 1.5rem
    }
}

@media (max-width:768px) {
    #menu-bars {
        display: inline-block
    }

    .header .search-form {
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;
        display: none
    }

    .header .navbar.active {
        display: block
    }

    .header .navbar a {
        display: block;
        background: #1d3577;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        border: var(--border)
    }

    .sidebar {
        display: none
    }

    .container {
        width: 100%
    }

    .container .posts-container .post .title {
        font-size: 2.3rem
    }

    .container .posts-container .post .title span:not(:last-child) {
        font-size: 3rem
    }

    .container .posts-container .post .text {
        font-size: 1.8rem
    }

    .container .posts-container .post .image {
        height: 30rem
    }

    .footer {
        flex-flow: column;
        text-align: center
    }
}

@media (max-width:450px) {
    .item-box {
        text-align: center
    }
}

/* Affiliate Box */
.aff-banner {
    background-color: cornflowerblue; 
    height: 130px; 
    border-radius: 10px; 
    margin: 20px 0; 
}

.aff-discount {
    text-align: center;
    font-size: 1.6rem;
    color: aliceblue;
}

.aff-code {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: aliceblue;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}

.aff-code-span {
    background-color: rgb(248 255 192);
    padding: 0 5px;
    color: black;
    border-radius: 20px;
}

.aff-banner-btn {
    background-color: rgb(248 255 192); 
    right: 50%; 
    transform: translate(50%, -50%); 
    padding: 15px 40px; 
}

@media (max-width: 540px){
    .aff-banner-btn{
        width: 85%;
    }
}

/* Popup Box */

.popup {
    display: none;
    z-index: 999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 350px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    line-height: 2.2;
}

.popup-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at top, transparent 77%, rgb(81, 83, 17) 20%, rgb(14, 39, 8) 80%);
    z-index: -1;
}

.exit-popup {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: large;
    cursor: pointer;
    margin-right: 5px;
}

.popup-inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.popup-inner-content h3 {
    font-size: 2rem;
    color: red;
    font-weight: bold;
}
#popup-main-h4 {
    font-size: 1.6rem;
    line-height: 1;
    color: crimson;
    margin-bottom: 5px;
}
#span-head {
    font-size: 2.1rem;
    color: #3e9231;
    font-style: italic;
    text-decoration: underline;
}
.coupon-text {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 1.2rem;
}
#coupon-code {
    background: #38491d;
    padding: 1px 10px;
    color: white;
}
.popup-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    background-color: #ffe500;
    margin-top: 20px;
    animation: popup-blink 3s ease-in-out infinite;
}

@keyframes popup-blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .6;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width:960px) {
    .popup-content {
        width: 70%;
    }
}

@media (max-width:480px) {
    .popup-content {
        min-height: 450px;
        width: 85%;
    }

    .popup-content::after {
        background: radial-gradient(circle at top, transparent 82.5%, rgb(81, 83, 17) 20%, rgb(14, 39, 8) 80%);
    }
}

/* Exit Intent Detect Modal */
.exit-intent-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 999;
    text-align: center;
    padding: 30px;
    display: none;
}

.modal-div-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.exit-intent-modal h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.exit-intent-modal p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.special-offer {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
}

.special-offer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.special-offer p {
    font-size: 14px;
}

.close-modal-btn {
    margin-top: 20px;
    background-color: cornflowerblue;
    padding: 1rem 4rem;
    border-radius: 20px;
    color: white;
}

/* Shopping Cart Wiggle Animation */
.wiggle {
    animation: wiggle 0.3s ease-in-out 0s both;
}

@keyframes wiggle {
    0% {
        transform: translateX(-2px);
        opacity: 1;
    }
    50% {
        transform: translateX(2px);
        opacity: .8;
    }
    100% {
        transform: translateX(-2px);
        opacity: 1;
    }
}