:root {
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --sandy-brown: hsl(29, 90%, 65%);
    --purple: #7276e1;
    --orange: hsl(14, 88%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --grey-light: hsl(237, 12%, 33%);
    --blue-mid: hsl(240, 6%, 50%);
    --credit-card-gold: #eca11f;
    --credit-card-green: #3edb65;
    --credit-card-dark: #3b556e;
    --credit-card-dark-2: #5d1efbd2;
    --credit-card-red: #df3512
}

* {
    font-family: Poppins, sans-serif;
    font-weight: lighter
}

button {
    cursor: pointer
}

.hide {
    display: none
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem
}

.btn:hover {
    background: var(--orange)
}

#search-icon {
    display: none
}

.main-section {
    margin-top: 90px
}

.mini-banner {
    position: relative;
    background-color: #dc143c;
    height: 40px;
    width: 100%
}

.mini-banner-alt {
    position: relative;
    background-color: transparent
}

.mini-banner-btn {
    border: none;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    padding: 4px 5px;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mini-banner-btn-alt {
    background-color: #ffe500
}

.item-box {
    padding: 10px;
    margin: 4%;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.item-box-alt {
    max-width: 30rem;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.post-item-link {
    padding: 0;
    margin: 0;
    background-color: transparent
}

.container .posts-container .post {
    width: 100%;
    padding: 3.5rem;
    background: #fff;
    margin-bottom: 1.5rem
}

@media (max-width:560px) {
    .container .posts-container .post {
        padding: 0
    }
}

.container .posts-container .post-top {
    border: none;
    border-top: 3rem solid #dc143c;
    margin-bottom: 1.5rem;
    padding: 1rem
}

.container .posts-container .post-top .text span {
    font-weight: 800;
    font-size: large;
    color: #1d3577
}

.container .posts-container .post-top .h1-blog {
    margin-bottom: 2.5rem
}

.container .posts-container .post .image {
    height: 40rem;
    width: 100%;
    border-radius: .8rem;
    object-fit: contain
}

.container .posts-container .post .image-alt {
    object-fit: fill
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(.5rem)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(.5rem)
    }

    100% {
        transform: translateY(0)
    }
}

.container .posts-container .post .date {
    padding-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .date a {
    color: #1d3577
}

.container .posts-container .post .title {
    padding: 1.5rem 0;
    font-size: 2.8rem;
    color: #1d3577;
    line-height: 1.8
}

.container .posts-container .post .title span:not(:last-child) {
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background-color: #1d3577;
    font-size: 3.5rem;
    color: #fff
}

.container .posts-container .post .text span {
    color: #00f
}

.container .posts-container .post .text b {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 600
}

.container .posts-container .post .title-secondary {
    font-size: 26px;
    color: #00f
}

.container .posts-container .post .h2-highlight {
    font-size: 2.8rem;
    font-weight: 600
}

@keyframes dot-scaling {

    0%,
    100% {
        transform: scale(.2);
        background-color: #30ffb7
    }

    40% {
        transform: scale(1);
        background-color: #07deff
    }

    50% {
        transform: scale(1);
        background-color: #0761ff
    }
}

.container .posts-container .post .text {
    color: var(--black);
    font-size: 2rem;
    line-height: 2.2;
    padding: 1rem 0
}

.container .posts-container .top-picks {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 4rem
}

.container .posts-container .top-picks h3 {
    background-color: #212121;
    padding: 5px
}

.container .posts-container .top-picks .related-link-list,
.container .posts-container .top-picks .top-picks-list {
    max-height: 35rem;
    overflow-y: scroll;
    padding: 0 2rem;
    background-color: #eee
}

.container .posts-container .top-picks .related-link-list h4,
.container .posts-container .top-picks .top-picks-list h4 {
    color: #303030
}

.container .posts-container .top-picks .related-link-list li a,
.container .posts-container .top-picks .top-picks-list li a {
    font-size: 1.8rem;
    text-decoration: none
}

.related-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container .posts-container .post .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center
}

.container .posts-container .post .links .icon {
    padding-right: 1rem
}

.container .posts-container .post .links a {
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .links a i {
    padding-right: .2rem;
    color: var(--black)
}

.container .posts-container .post .links a:hover,
.container .posts-container .post .links a:hover i {
    color: #333
}

.faq {
    background-color: #fff;
    border-radius: 25px;
    margin: 60px 5% 5% 5%
}

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%
}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    width: 90%
}

.faq__text {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 10px 0 0 0
}

.disclosure {
    background-color: #1d3577;
    color: #fff;
    padding: 45px
}

.disclosure strong {
    font-size: 1.8rem;
    font-weight: 600
}

.disclosure p {
    font-size: 1.4rem
}

.disclosure p span {
    color: var(--orange);
    font-size: 1.6rem
}

.disclosure p a {
    color: #2fcbff
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: #f0f8ff;
    padding: 1rem 0
}

.footer .credit span {
    color: #f0f8ff
}

.footer .follow {
    padding: 1rem 0
}

.footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--orange);
    color: #fff;
    margin: 0 .1rem;
    text-align: center
}

.footer .follow a:hover {
    background: var(--orange)
}

.footer-h2-page-tags {
    display: none
}

.container .posts-container .post .text-alt,
.div-container-main {
    background: #3d95fa2d;
    padding: 25px;
    border-radius: 15px
}

.div-container,
.table-container {
    background-color: #dadada2b;
    padding: 25px
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    width: 100%
}

table thead {
    box-shadow: 0 5px 10px #e1e5ee
}

table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-weight: 900
}

table tbody {
    font-size: 14px
}

table td {
    padding: 1rem 2rem
}

table a {
    text-decoration: none;
    color: #2962ff
}

table .status {
    border-radius: .2rem;
    background-color: red;
    padding: .2rem 1rem;
    text-align: center
}

table .status-low {
    background-color: #c8e6c9;
    color: #388e3c
}

table .amount {
    text-align: right
}

table tr:nth-child(even) {
    background-color: #f4f6fb
}

.card-main {
    width: 100%;
    margin-bottom: 10px
}

.card {
    --border-radius: .5rem;
    position: relative;
    aspect-ratio: 8.5/5;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 15rem;
    margin: 0 auto;
    box-shadow: 0 .75rem 2rem 0 rgba(185, 185, 185, .75)
}

.card__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "balance .""income expenses""account account";
    gap: 10px 24px
}

.card__item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: "value""label"
}

.card__item-label {
    grid-area: label;
    font-size: .66rem;
    font-weight: 600
}

.card__item--right>* {
    justify-self: end
}

@media (max-width:560px) {

    .div-container,
    .table-container {
        padding: 10px;
        overflow-x: scroll
    }

    .mobile-remove {
        display: none
    }
}

@keyframes svg-wave {
    0% {
        transform: scale(.9);
        transform: scaleX(.99)
    }

    50% {
        transform: scale(1.2);
        transform: scaleX(1.06)
    }

    100% {
        transform: scale(.9);
        transform: scaleX(.99)
    }
}

@keyframes red-arrow-down {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    25% {
        transform: translateY(.5rem);
        opacity: 0
    }

    50% {
        transform: translateY(0);
        opacity: 1
    }

    75% {
        transform: translateY(.5rem);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes green-arrow-up {
    0% {
        transform: translateY(.5rem);
        opacity: 0
    }

    25% {
        transform: translateY(0);
        opacity: 1
    }

    50% {
        transform: translateY(.5rem);
        opacity: 0
    }

    75% {
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(.5rem);
        opacity: 0
    }
}

.promo-box-container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 760px;
    width: 100%;
    min-height: 340px;
    background: linear-gradient(rgba(241, 221, 1, .9), rgba(229, 241, 1, .9)), url(/images/nova-tech-office-hero-3.png) no-repeat 100%;
    z-index: 1;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .2)
}

.promo-box-container .right-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(rgba(128, 0, 128, .6), rgba(128, 0, 128, .6)), url(/images/nova-tech-office-hero-3.png) no-repeat 100%;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%)
}

.promo-box-container .linkspanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.promo-box-container .promo-title {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 40px;
    position: absolute;
    top: 40%;
    left: 36%;
    margin-right: 8%;
    margin-top: 0;
    transform: translate(-50%, -50%);
    z-index: 99
}

.promo-box-container .promo-title a {
    text-decoration: none;
    color: #000
}

.promo-box-container .promo-title span.lighter {
    font-weight: 300;
    font-size: 20px
}

.promo-box-container .cta-button {
    background: #f1ed01;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    float: right;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    z-index: 99;
    -o-transition: color .5s, background-color .5s;
    -ms-transition: color .5s, background-color .5s;
    -moz-transition: color .5s, background-color .5s;
    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s
}

.promo-box-container .cta-button:hover {
    color: #000;
    background-color: #c5f32f
}

@media all and (max-width:600px) {
    .promo-box-container {
        position: relative;
        margin: auto;
        display: block;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        height: 200px;
        z-index: 1;
        color: #000;
        background: linear-gradient(rgba(241, 221, 1, .9), rgba(229, 241, 1, .9)), url(/images/nova-tech-office-hero-3.png) no-repeat 90%
    }

    .promo-box-container .promo-title {
        font-size: 22px;
        line-height: 28px
    }

    .promo-box-container .promo-title span.lighter {
        font-size: 16px;
        display: block;
        line-height: 24px;
        margin-top: 10px
    }

    .promo-box-container .cta-button {
        font-size: 14px;
        top: auto
    }

    .promo-box-container .right-triangle {
        width: 39%;
        background: linear-gradient(rgba(128, 0, 128, .6), rgba(128, 0, 128, .6)), url(/images/nova-tech-office-hero-3.png) no-repeat 90%
    }
}

@media (max-width:768px) {
    #menu-bars {
        display: inline-block
    }

    .container {
        width: 100%
    }

    .container .posts-container .post .title {
        font-size: 2.3rem
    }

    .container .posts-container .post .title span:not(:last-child) {
        font-size: 3rem
    }

    .container .posts-container .post .text {
        font-size: 1.8rem
    }

    .container .posts-container .post .image {
        height: 30rem
    }

    .footer {
        flex-flow: column;
        text-align: center
    }
}

@media (max-width:450px) {
    .item-box {
        text-align: center
    }
}