:root {
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --sandy-brown: hsl(29, 90%, 65%);
    --purple: #7276e1;
    --orange: hsl(14, 88%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --grey-light: hsl(237, 12%, 33%);
    --blue-mid: hsl(240, 6%, 50%);
    --credit-card-gold: #eca11f;
    --credit-card-green: #3edb65;
    --credit-card-dark: #3b556e;
    --credit-card-dark-2: #5d1efbd2;
    --credit-card-red: #df3512;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

/* Ezoic Unwanted AI ad placement */

.ezoic-ad.medrectangle-4340 {
    display: none !important;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 1vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important;
}

body::-webkit-scrollbar-track {
    background-color: #b3b3b300;
}

body::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #30303092;
}

button {
    cursor: pointer;
}

hr {
    height: 1rem;
}

.hide {
    display: none;
}

.popup-blur {
    filter: blur(3px);
}

.mobile-swipe-show {
    display: none;
}

#advisory {
    cursor: pointer;
    color: #20640b;
}

#advisory-text {
    background-color: #dadada2b;
    padding: 0 5px;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--orange);
}

.header {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1d3577;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%;
}

.header .logo {
    color: black;
    font-size: 2.5rem;
    margin-right: auto;
    background-image: linear-gradient(to right, white 0%, #ffffff 75%, #1d3577 100%);
    /* box-shadow: 1px 0 8px lightgrey; */
    padding: 0.5rem 1rem;
    /* border-radius: 2.5px; */
}

.header .logo span {
    color: var(--orange);
}

.header .navbar a {
    color: white;
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons i {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    color: #1d3577;
    background: #ffe500;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover {
    color: #fff;
    background: var(--orange);
}

#search-icon{
    display: none;
}

.header .search-form {
    position: absolute;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top: 110%;
    right: 7%;
    height: 6rem;
    width: 50rem;
    padding: 1rem;
    display: none;
}

.header .search-form.active {
    display: flex;
}

.header .search-form #search-box {
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    height: 100%;
}

.header .search-form label {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--orange);
}

#menu-bars {
    display: none;
}

.main-section {
    margin-top: 90px;
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    right: 0%;
    width: 30%;
    height: 78%;
    padding: 5px;
}
.sidebar .box {
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
    background: #fff;
    margin: 0 2% 1.5rem 2%;
}

.sidebar .box .title {
    padding: 1.5rem;
    font-size: 2rem;
    color: #fff;
    background: #1d3577;
    text-transform: capitalize;
}

.sidebar .box .about {
    text-align: center;
    padding: 1rem 1.5rem;
}

.sidebar .box .about img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
}

.sidebar .box .about h3 {
    color: var(--orange);
    font-size: 2rem;
}

.sidebar .box .about p {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem;
}

.sidebar .box .about .follow {
    padding: 1rem 0;
}

.sidebar .box .about .follow a {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--black);
    color: #fff;
    font-size: 1.7rem;
    margin: 0 .1rem;
}

.sidebar .box .about .follow a:hover {
    background: var(--orange);
}

.sidebar .box .category {
    padding: 1rem 1.5rem;
    max-height: 40rem;
    overflow-y: scroll;
}

.sidebar .box .category::-webkit-scrollbar, .sidebar .box .p-post::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important;
}

.sidebar .box .category::-webkit-scrollbar-track, .sidebar .box .p-post::-webkit-scrollbar-track {
    background-color: #30303000;
}

.sidebar .box .category::-webkit-scrollbar-thumb, .sidebar .box .p-post::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
}

.sidebar .box .category::-webkit-scrollbar-thumb:hover, .sidebar .box .p-post::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392;
}

.sidebar .box .category a {
    padding: .4rem 0;
    font-size: 1.7rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .box .category a span {
    background: #1d3577;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem;
}

.sidebar .box .category a:hover {
    color: var(--orange);
}

.sidebar .box .category a:hover span {
    background-color: var(--orange);
}

.sidebar .box .p-post {
    padding: 1rem 2rem;
    max-height: 40rem;
    overflow-y: scroll;
}

.sidebar .box .p-post a {
    padding: 1rem 0;
    display: block;
}

.sidebar .box .p-post a h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sidebar .box .p-post a span {
    color: var(--black);
    font-size: 1.5rem;
}

.sidebar .box .p-post a span i {
    padding-right: .2rem;
}

.sidebar .box .p-post a:hover h3 {
    color: var(--orange);
}

.sidebar::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #30303000;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392;
}
.container {
    width: 68%;
}

.suggested-top {
    padding: 0 2rem;
}

.suggested-top h5 {
    width: 100px;
    padding: 5px 1%;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 3px;
}

.suggested-top h4 {
    font-size: 1.4rem;
    margin-top: 5px;
}

.suggested-top h4 span {
   color: red;
}

.mini-banner {
    position: relative;
    background-color: red;
    height: 40px;
    width: 100%;
}

.mini-banner-alt {
    position: relative;
    background-color: transparent;
}

.mini-banner-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0%, -50%);
    padding: 4px 5px;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini-banner-btn-alt {
    background-color: #ffe500;
}

.suggested-not-grid {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.suggested-not-grid .item-box .suggested-item {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.wrapper-alt-bg {
    padding: 15px;
    background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
}

.item-box {
    padding: 10px;
    margin: 4%;
    background-color: #eee;
    height: auto;
    border-radius: 10px;
}

.item-box-alt {
    max-width: 30rem;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    height: auto;
    border-radius: 10px;
}

.post-item-link {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.item-box  .suggested-text-best {
    text-align: center;
    padding: 5% 8%;
    margin-bottom: 10px;
    background-color: #1d3577;
    color: white;
    font-size: 1.4rem;
}

.item-box  .best-suggest {
    text-align: center;
    padding: 5% 8%;
    margin-bottom: 10px;
    background-color: #ffe500;
    color: black;
}

.item-box .best-suggest-alt {
    text-align: center;
    padding: 5% 8%;
    margin-bottom: 10px;
    background-color: #f45134;
    color: white;
}

.wrapper .item-box .suggested-item {
    width: 100%;
    height: 12.5rem;
    border-radius: .5rem;
}

.wrapper .item-box .suggested-heading {
    font-size: 2.8rem;
    text-align: center;
    margin: 35px 0;
}

.item-box  .suggested-text-item {
    text-align: center;
    padding: 5% 0;
    font-size: 1.4rem;
}

.item-box .item-box-list-items {
    margin-left: 10px;
    list-style-type: none;
    font-size: 1.4rem;
    position: relative;
}

.item-box .item-box-list-items li {
    color: brown;
}

.item-box .item-box-list-items p {
    text-align: center;
    margin-bottom: 14px;
}

.item-box .item-box-list-items p::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 5px;
    background-color: #2fcbff;
    width: 80px;
    margin-top: 5px;
}

.item-box .list-items-alt {
    text-align: center;
}

.additional-list-container {
    background-color: #eee;
}

.additional-list-container .additional-list {
    list-style-type: none;
    font-size: 1.6rem;
    position: relative;
    color: var(--black);
    line-height: 1.7;
    justify-content: space-between;
}

.additional-list-container .additional-list .additional-list-inner {
    list-style-type: none;
    background-color: #1d3577;
    padding: 5px;
    color: white;
}

.additional-list-container-alt .additional-list .additional-list-inner {
    list-style-type: none;
    background-color: #20640b;
    padding: 5px;
    color: white;
}

.item-box  .suggest-link {
    background-color: #2fcbff;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 70%;
    margin: 10px auto;
    color: white;
    box-shadow: 1px 0 8px white;
    font-size: 1.4rem;
}

.post-item-link .suggest-link{
    background-color: #303030;
    width: 40%;
    transition: all .2s;
}

.post-item-link .suggest-link:hover {
    background-color: #ffe500;
    color: black;
    width: 40%;
}

.container .posts-container .post {
    width: 100%;
    padding: 3.5rem;
    background: #fff;
    margin-bottom: 1.5rem;
}

@media( max-width: 560px) {
    .container .posts-container .post {
        padding: 0;
    }
}

.container .posts-container .post-top {
    border: none;
    margin-bottom: 1.5rem;
    padding: 0 3.5rem;
}

.container .posts-container .post-top .text span {
    font-weight: 800;
    font-size: large;
    color: #1d3577;
}

.container .posts-container .post-top .h1-blog {
    margin-bottom: 2.5rem;
}

.container .posts-container .post-top .h1-blog .title .h1-strong-highight {
    color: #20640b;
    background-color: transparent;
    margin: 0%;
    padding: 0%;
    font-weight: 700;
} 

.container .posts-container .post .h1-blog-img-scroller {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 10px;
    margin: 2% 0;
}

.container .posts-container .post .h1-blog-img-scroller::-webkit-scrollbar {
    height: 1.5vh;
    overscroll-behavior: contain;
    scrollbar-width: thin !important;
}

.container .posts-container .post .h1-blog-img-scroller::-webkit-scrollbar-track {
    background-color: #b3b3b300;
}

.container .posts-container .post .h1-blog-img-scroller::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
}

.container .posts-container .post .h1-blog-img-scroller::-webkit-scrollbar-thumb:hover {
    background: #30303092;
}

.container .posts-container .post .h1-blog-img-scroller .image{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
    transition: all .2s;
}

.container .posts-container .post .h1-blog-img-scroller .image:hover{
    transform: scale(.9);
}

.breadcrumbs-container .breadcrumbs {
    padding: .5rem 0 1.5rem 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    margin: 2.5% 0; 
}
.breadcrumbs-container .breadcrumbs-alt {
    padding: .5rem 0 0 0;
    margin:0; 
}
.breadcrumbs-container .breadcrumbs .breadcrumbs__item {
    display: inline-block;
    margin: 0 0 3% 0;
    padding: .5% 0; 
}
.breadcrumbs-container .breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
    content: "/";
    margin: 0 .5rem;
    color: #fcae65; 
}
.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
    text-decoration: none; 
}
.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
    text-decoration: underline; 
}
.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link--active {
    color: #2e20aa; 
}

.container .posts-container .post .image, .posts-accordion .panel .image  {
    height: 40rem;
    width: 100%;
    border-radius: .8rem;
    object-fit: contain;
}

.container .posts-container .post .image-alt, .posts-accordion .panel .image-alt  {
    object-fit: fill;
}

.red-down-arrow {
    animation: bounce 2.5s ease infinite; }
  
  @keyframes bounce {
    0% {
      transform: translateY(0); }
    25% {
      transform: translateY(0.5rem); }
    50% {
      transform: translateY(0); }
    75% {
      transform: translateY(0.5rem); }
    100% {
      transform: translateY(0); } }

.container .posts-container .post .date {
    padding-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--black);
}

.container .posts-container .post .date a{
    color: #1d3577;
}

.container .posts-container .post .title, .posts-accordion .panel .title {
    padding: 1.5rem 0;
    font-size: 2.8rem;
    color: #1d3577;
    line-height: 1.8;
}

.container .posts-container .post .title span:not(:last-child) {
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background-color: #1d3577;
    font-size: 3.5rem;
    color: white;
}

.container .posts-container .post .text span {
    color: blue;
}

.raised-p-span {
    box-shadow: 1px 1px 20px cornflowerblue;
    padding: 2.5px 5px;
}

.container .posts-container .post .text b {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 600;
}
.container .posts-container .post .title-secondary {
    font-size: 26px;
    color: blue;
}

.container .posts-container .post .h2-highlight {
    /* color: var(--black); */
    font-size: 2.8rem;
    font-weight: 600;
}

.container .posts-container .post .post-list-items, .posts-accordion .post-list-items  {
    font-size: 1.6rem;
    margin-left: 15px;
    color: var(--black);
}

.container .posts-container .post .post-list-items .li-red, .posts-accordion .post-list-items .li-red  {
    color: red;
    background-color: #333;
    max-width: 450px;
    margin: 3px 0;
}

.dot-bounce {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: .5rem;
    animation: dot-scaling 2.5s ease-in-out infinite;
}

/* Creating wave delay effect */
.dot-bounce:nth-child(0) {
    animation-delay: 0s;
}

.dot-bounce:nth-child(1) {
    animation-delay: .2s;
}

.dot-bounce:nth-child(2) {
    animation-delay: .4s;
}

.dot-bounce:nth-child(3) {
    animation-delay: .6s;
}

.dot-bounce:nth-child(4) {
    animation-delay: .8s;
}

.dot-bounce:nth-child(5) {
    animation-delay: 1s;
}

@keyframes dot-scaling {
    0%, 100% {
        transform: scale(0.2);
        background-color: #30ffb7;
    }

    /* Keep same level between 40 - 50 % */
    40% {
        transform: scale(1);
        background-color: #07deff;
    }

    50% {
        transform: scale(1);
        background-color: #0761ff;
    }

}

.container .posts-container .post .showcase-rating, .posts-accordion .panel .showcase-rating {
    color: var(--sandy-brown);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.container .posts-container .post .text, .posts-accordion .panel .text, .posts-accordion .text{
    color: var(--black);
    font-size: 2rem;
    line-height: 2.2;
    padding: 1rem 0;
}

#text-highight {
    color: #20640b; 
    font-size: 2rem; 
    font-weight: bold;
}

.container .posts-container .top-picks {
    color: white;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 4rem;
}

.container .posts-container .top-picks h3 {
   background-color: #1d3577;
   padding: 5px;
}

.container .posts-container .top-picks .top-picks-list, .container .posts-container .top-picks .related-link-list{
    max-height: 35rem;
    overflow-y: scroll;
    padding: 0 2rem; 
    background-color: #eee;
}

.container .posts-container .top-picks .top-picks-list h4, .container .posts-container .top-picks .related-link-list h4{
    color: #303030;
}

.container .posts-container .top-picks .top-picks-list li a, .container .posts-container .top-picks .related-link-list li a  {
    font-size: 1.8rem;
}

.related-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .posts-container .post .links, .posts-accordion .panel .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .post .links .user, .posts-accordion .panel .links .user {
    margin-right: auto;
    background: gold;
    padding: 1rem 1.5rem;
}

.container .posts-container .post .links .icon, .posts-accordion .panel .links .icon {
    padding-right: 1rem;
}

.container .posts-container .post .links a, .posts-accordion .panel .links a {
    font-size: 1.5rem;
    color: var(--black);
}

.container .posts-container .post .links a i, .posts-accordion .panel .links a i {
    padding-right: .2rem;
    color: var(--black);
}
.container .posts-container .post .links a:hover, .container .posts-container .post .links a:hover i {
    color: #333;
}

.posts-accordion .panel .accordion-posts {
    margin-bottom: 60px;
}

.posts-accordion .panel .links a:hover {
    color: var(--orange);
}

.posts-accordion .panel .links a:hover i {
    color: var(--orange);
}

.posts-accordion .accordion {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: capitalize;
    background: #1d3577;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
.posts-accordion .accordion h2 { 
    font-size: 1.5rem;
}

.active, .accordion:hover {
    background-color: #ccc; 
  }

.posts-accordion button.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.posts-accordion button.accordion.active:after {
    content: "\2212";
}
  
.posts-accordion .panel {
    padding: 15rem;
    padding-top: 2rem;
    display: none;
    background-color: white;
    overflow: hidden;
}

.posts-accordion .panel p {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 1rem 0;
}

.faq { 
    background-color: #fff;
    border-radius: 25px;
    margin: 60px 5% 5% 5%;
}

.faq__heading { 
    color: var(--blue-dark);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center; 
}

.faq__detail {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 20px 0 0 0;
    padding: 5px 0 20px 0;
}

.faq__summary:hover,
.faq__summary:active { 
    color: var(--orange);
    cursor: pointer; 
}

.faq__detail[open] > .faq__summary { 
    font-weight: 700; 
}

.faq__summary {
    list-style: none;
  }

.faq__summary::-webkit-details-marker {
    display: none;
  }

.faq__summary { 
    display: block;
    padding: 0;
    position: relative;
    text-align: right;
}

    
.faq__summary:after {
    display: inline-block;
    content: url("/images/SVG/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
    text-align: right;
    padding-bottom: 20px;
  }
  
details[open] .faq__summary:after {
    display: inline-block;
    width: 18px;
    height: 10px;
    content: "";
    background-image: url("/images/SVG/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right;
    transform:scaleY(-1);
}
  

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%;
}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    width: 90%;
}

.faq__summary {
    color: var(--blue-dark);
    font-size: 1.4rem; 
}

.faq__summary:focus {
    color: var(--orange); 
    font-weight: bold;
    outline: none;
}

.faq__text {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 10px 0 0 0;
}

.hidden-lg { display: block; }
    
.visible-lg { display: none; }

.disclosure {
    background-color: #1d3577;
    color: white;
    padding: 45px;
}
.disclosure strong {
    font-size: 1.8rem;
    font-weight: 600;
}
.disclosure p {
    font-size: 1.4rem;
}

.disclosure p span {
    color: var(--orange);
    font-size: 1.6rem;
}

.disclosure p a{
    color: #2fcbff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .credit span {
    color: black;
}

.footer .follow {
    padding: 1rem 0;
}

.footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--orange);
    color: #fff;
    margin: 0 .1rem;
    text-align: center;
}

.footer .follow a:hover {
    background: var(--orange);
}

.footer-h2-page-tags {
    display: none;
}

/* Table Design */
.table-container, .div-container {
    background-color: #dadada2b;
    padding: 25px;
}
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: 100%;
}
table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}
table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    font-weight: 900;
}
table tbody {
    font-size: 14px;
}
table td {
    padding: 1rem 2rem;
}
table a {
    text-decoration: none;
    color: #2962ff;
}
table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
table .status-mid {
    background-color: #fff0c2;
    color: #a68b00;
}
table .status-low {
    background-color: #c8e6c9;
    color: #388e3c;
}
table .status-high {
    background-color: #ffcdd2;
    color: #c62828;
}
table .amount {
    text-align: right;
}
table tr:nth-child(even) {
    background-color: #f4f6fb;
}

/* CSS Credit Card */

/* Colors */
.color-green {
    background-color: var(--credit-card-green);
}
.color-dark {
    background-color: var(--credit-card-dark);
}
.color-dark-2 {
    background-color: var(--credit-card-dark-2);
}
.color-gold {
    background-color: var(--credit-card-gold);
}
.color-red {
    background-color: var(--credit-card-red);
}
/* Colors End */

.card-main {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .card {
    --border-radius: .5rem;
    position: relative;
    aspect-ratio: 8.5 / 5;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 15rem;
    margin: 0 auto;
    box-shadow: 
      0rem 0.75rem 2rem 0rem rgba(185, 185, 185, 0.75);
  }
  
  .card__ellipse {
    position: absolute;
    
    border-radius: 50%;
  }
  
  .card__ellipse:nth-of-type(1) {
    left: 48%;
    top: 52%;
    width: 60%;
    height: 60%;
  }
  
  .card__ellipse:nth-of-type(2) { 
    left: -11%;
    top: 22%;
    width: 58%;
    height: 85%;
  }
  
  
  .card__ellipse:nth-of-type(3) { 
    left: 8%;
    top: -14%;
    width: 95%;
    height: 63%;
  }
  
  .card__frosting {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--border-radius);
    
    backdrop-filter: blur(3.5rem);
  }
  
  .card__stripes {
    position: absolute;
  }
  
  .card__stripes path {
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 1;
  }
  
  .card__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    padding: 1.0rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "balance ."
      "income expenses"
      "account account";
    gap: 10px 24px;
  }
  
  .card__content .balance {
    grid-area: balance;
  }
  
  .card__content .income {
    grid-area: income;
  }
  
  .card__content .expenses {
    grid-area: expenses;
  }
  
  .card__content .account {
    grid-area: account;
  }
  
  .card__item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: "value" "label";
  }
  
  .card__item-label {
    grid-area: label;
    
    font-size: 0.66rem;
    font-weight: 600;
  }
  
  .card__item-value {
    grid-area: value;
  }
  
  .card__item--strong > .card__item-value {
    font-weight: 600;
  }
  
  .card__item--right > * {
    justify-self: end;
  }

/* Table Mobile Media Query */
@media (max-width: 560px) {
    .table-container, .div-container {
        padding: 10px;
        overflow-x: scroll;
    }
    .mobile-remove {
        display: none;
    }
}

@media (min-width: 560px) {
    .mobile-show {
        display: none;
    }
}
/* Table Design End */


/* SVG Wave */
#svg-wave {
    animation: svg-wave 10s ease-in-out infinite; 
}

#red-circle-arrows {
    animation: red-arrow-down 8s ease-in-out infinite; 
}
  
#green-circle-arrows {
    animation: green-arrow-up 8s ease-in-out infinite; 
}

@keyframes svg-wave {
    0% {
      transform: scale(0.9);
      transform: scaleX(0.99); }
    50% {
      transform: scale(1.2);
      transform: scaleX(1.06); }
    100% {
      transform: scale(0.9);
      transform: scaleX(0.99); 
    } 
}

@keyframes red-arrow-down {
    0% {
      transform: translateY(0);
      opacity: 1; }
    25% {
      transform: translateY(0.5rem);
      opacity: 0; }
    50% {
      transform: translateY(0);
      opacity: 1; }
    75% {
      transform: translateY(0.5rem);
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 1; 
    } 
}
  
  @keyframes green-arrow-up {
    0% {
      transform: translateY(0.5rem);
      opacity: 0; }
    25% {
      transform: translateY(0);
      opacity: 1; }
    50% {
      transform: translateY(0.5rem);
      opacity: 0; }
    75% {
      transform: translateY(0);
      opacity: 1; }
    100% {
      transform: translateY(0.5rem);
      opacity: 0; 
    } 
}

@media (max-width: 560px) {
    .svg-wave {
        height: 180px !important; 
    }
}

/* Affiliate Box */
.aff-banner {
    background-color: cornflowerblue; 
    height: 100px; 
    border-radius: 10px; 
    margin-top: 20px;
}

.aff-banner-btn {
    background-color: rgb(253, 192, 255); 
    right: 50%; 
    transform: translate(50%, -50%); 
    padding: 15px 40px; 
}

@media (max-width: 540px){
    .aff-banner-btn{
        width: 80%;
    }
}

/* media queries  */

@media (max-width:991px) {

    .header {
        padding: 1.5rem;
    }
}

@media (max-width:768px) {

    #menu-bars {
        display: inline-block;
    }

    .header .search-form {
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;
        display: none;
    }

    .header .navbar.active {
        display: block;
    }

    .header .navbar a {
        display: block;
        background: #1d3577;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        border: var(--border);
    }

    .sidebar {
        display: none;
    }

    .mobile-swipe-show {
        display: flex;
        justify-content: flex-end;
    }

    .container {
        width: 100%;
    }

    .container .posts-container .post .title, .posts-accordion .panel .title {
        font-size: 2.3rem;
    }

    .container .posts-container .post .title span:not(:last-child) {
        font-size: 3rem;
    }

    .container .posts-container .post .text, .posts-accordion .panel .text, .posts-accordion .text {
        font-size: 1.8rem;
    }

    .container .posts-container .post .image {
        height: 30rem;
        ;
    }

    .posts-accordion .panel {
        padding: 2rem;
    }

    .footer {
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px) {
    .item-box {
        text-align: center;
    }

    .wrapper .item-box .suggested-item {
        width: 70%;
        height: 17rem;
    }
}

/* Popup Box */

.popup {
    display: none;
    z-index: 999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 350px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    line-height: 2.2;
}

.exit-popup {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: large;
    cursor: pointer;
    margin-right: 5px;
}

.popup-inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.popup-inner-content h3 {
    font-size: 2rem;
    color: red;
    font-weight: bold;
}
#popup-main-h4 {
    font-size: 1.6rem;
    line-height: 1;
    color: crimson;
    margin-bottom: 5px;
}
#span-head {
    font-size: 2.1rem;
    color: #3e9231;
    font-style: italic;
    text-decoration: underline;
}
.coupon-text {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 1.2rem;
}
#coupon-code {
    background: #38491d;
    padding: 1px 10px;
    color: white;
}
.popup-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    background-color: #ffe500;
    margin-top: 20px;
    animation: popup-blink 3s ease-in-out infinite;
}

@keyframes popup-blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .6;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width:450px) {
    .popup-content {
        min-height: 450px;
    }
}

@media (max-width:960px) {
    .popup-content {
        width: 70%;
    }
}