@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins" sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif; }

a {
  text-decoration: none;
  color: #5a5a5a; }

img {
  cursor: pointer; }

svg {
  cursor: pointer; }

nav {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 20; }

.flex-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .flex-div__nav-right--user-icon {
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 0; }
  .flex-div__nav-right img {
    width: 2.5rem;
    margin-right: 2.5rem; }
  .flex-div__nav-left {
    display: contents; }
    .flex-div__nav-left--menu-icon {
      height: 1.5rem;
      width: auto;
      margin-right: 2.5rem; }
    .flex-div__nav-left--logo {
      width: 11.5rem; }
  .flex-div__nav-middle {
    display: flex;
    align-items: center;
    border: 0.1rem solid white;
    padding: .8rem 1.2rem;
    border-radius: 2.5rem; }
    .flex-div__nav-middle--search-icon {
      width: auto;
      height: 1.5rem;
      margin-left: 1rem;
      margin-right: 1.5rem; }
      .flex-div__nav-middle--search-icon:hover {
        border-bottom: .15rem solid red; }
    .flex-div__nav-middle--mic-icon {
      width: auto;
      height: 1.8rem;
      padding-left: 2rem; }
    .flex-div__nav-middle--search-box {
      border: .1rem solid #ccc;
      padding: .8rem 1.2rem;
      border-radius: 2.5rem; }
    .flex-div__nav-middle input[type="search"] {
      margin-left: 1.5rem;
      outline: none;
      border: 0;
      width: 40rem; }

.sidebar {
  background-color: white;
  width: 14%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 1rem;
  padding-top: 15rem;
  overflow: scroll;
  font-size: 1.2rem;
  z-index: 10; }
  .sidebar__shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: fit-content;
    flex-wrap: wrap; }
    .sidebar__shortcut-links a:first-child {
      color: red; }
    .sidebar__shortcut-links a:hover {
      color: black; }
    .sidebar__shortcut-links a img {
      width: 2rem;
      margin-right: 2rem; }
  .sidebar hr {
    border: 0;
    height: .1rem;
    background: #ccc;
    width: 85%;
    transition: width ease .8s; }
  .sidebar__subscribed-list h3 {
    font-size: 1.3rem;
    margin: 2rem 0;
    color: #5a5a5a; }
  .sidebar__subscribed-list a {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: fit-content;
    flex-wrap: wrap; }
    .sidebar__subscribed-list a img {
      width: 2.5rem;
      border-radius: 50%;
      margin-right: 2rem; }

.small-sidebar {
  width: 5%; }
  .small-sidebar a p {
    display: none; }
  .small-sidebar h3 {
    display: none; }
  .small-sidebar hr {
    width: 50%;
    margin-bottom: 2.5rem;
    transition: width ease .8s; }

@media (max-width: 58.875em) {
  .flex-div__nav-left--menu-icon {
    display: none; }
  .hidden {
    display: none; }
  .sidebar-alterations {
    font-size: .8rem;
    width: 90%; }
    .sidebar-alterations a {
      display: block; }
  .flex-div__nav-right a {
    display: none; }
  .flex-div__nav-right,
  .flex-div__nav-right--user-icon {
    display: block;
    width: 3rem; }
  .flex-div__nav-middle input[type="search"] {
    width: 40rem; }
  .flex-div__nav-middle--mic-icon {
    display: none; }
  .flex-div__nav-left--logo {
    width: 9rem; } }

.top-nav:hover {
  box-shadow: 0 .04rem .08rem red; }

@media (max-width: 41.125em) {
  .flex-div__nav-middle input[type="search"] {
    width: 25rem; } }

@media (max-width: 31.8125em) {
  .flex-div__nav-middle input[type="search"] {
    width: 15rem; } }

@media (max-width: 25.5625em) {
  .flex-div__nav-middle input[type="search"] {
    width: 10rem; } }

@media (max-width: 22.4375em) {
  .flex-div__nav-middle input[type="search"] {
    width: 5rem; } }

@media (max-width: 64em) {
  .sidebar {
    font-size: 1.1rem;
    overflow: scroll; }
    .sidebar:-webkit-scrollbar {
      display: none;
      width: 0; } }

.container {
  background: #f9f9f9;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 17rem;
  transition: padding-left .2s; }
  .container__banner {
    width: 100%; }

.bg-video__content {
  width: 100%;
  height: 40vh;
  object-fit: cover; }

.large__container {
  transition: padding-left .5s;
  padding-left: 7%; }

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 1.6rem;
  grid-row-gap: 3rem;
  margin-top: 1.5rem;
  padding-left: 18rem;
  transition: padding-left .3s; }
  .list-container__vid-list {
    width: 90%; }
    .list-container__vid-list:hover .list-container__vid-list--flex-div--vid-info a {
      color: #0000ff; }
    .list-container__vid-list--thumbnail {
      width: 100%;
      border-radius: .5rem; }
    .list-container__vid-list--flex-div {
      align-items: flex-start;
      margin-top: .7rem; }
      .list-container__vid-list--flex-div img {
        width: 3.5rem;
        margin-right: 1rem;
        border-radius: 50%; }
      .list-container__vid-list--flex-div--vid-info {
        color: #5a5a5a;
        font-size: 1.8rem; }
        .list-container__vid-list--flex-div--vid-info a {
          color: black;
          font-weight: 600;
          display: block;
          margin-bottom: .5rem; }

.large__list-container {
  transition: padding-left .5s;
  padding-left: 9rem; }

@media (max-width: 58.875em) {
  .container {
    padding-left: 2rem; }
  .list-container {
    padding: 3%; } }

@media (max-width: 34.125em) {
  .list-container__vid-list {
    width: auto; }
  .list-container__vid-list--flex-div--vid-info {
    font-size: 1.6rem; }
  .list-container__vid-list--flex-div--vid-info {
    font-size: 2rem; } }

@media (max-width: 33.75em) {
  .list-container__vid-list--flex-div {
    margin-left: .5rem; } }

@media (max-width: 29.6875em) {
  .bg-video__content {
    height: 30vh; } }

.play-container__video {
  flex-basis: 69%; }
  .play-container__video video {
    width: 100%; }
  .play-container__video--tags a {
    color: #0000ff;
    font-size: 1.3rem; }
  .play-container__video h3 {
    font-weight: 600;
    font-size: 2.2rem; }
  .play-container__video--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #5a5a5a; }
    .play-container__video--info a {
      display: inline-flex;
      align-items: center;
      margin-left: 1.5rem; }
      .play-container__video--info a img {
        width: 2rem;
        margin-right: .8rem; }
  .play-container__video hr {
    border: 0;
    height: .1rem;
    background: #ccc;
    margin: 1rem 0; }

.play-container__publisher {
  display: flex;
  align-items: center;
  margin-top: 2rem; }
  .play-container__publisher div {
    flex-grow: 1;
    line-height: 1.8rem; }
    .play-container__publisher div p {
      color: black;
      font-weight: 600;
      font-size: 1.8rem; }
    .play-container__publisher div span {
      font-size: 1.3rem;
      color: #5a5a5a; }
  .play-container__publisher button {
    background-color: #dd9611;
    color: white;
    padding: .8rem 3rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer; }
    .play-container__publisher button:hover {
      background-color: red; }
  .play-container__publisher img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem; }

.play-container__vid-description {
  padding-left: 5.5rem;
  margin: 1.5rem 0; }
  .play-container__vid-description p {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #5a5a5a; }
  .play-container__vid-description h4 {
    font-size: 1.4rem;
    color: #5a5a5a;
    margin-top: 1.5rem; }

.overflow {
  overflow: hidden; }

.add-comment {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  padding-left: 15%; }
  .add-comment img {
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .add-comment input {
    border: none;
    outline: none;
    border-bottom: .1rem solid #ccc;
    width: 50%;
    padding-top: 1rem;
    background: transparent; }

.old-comment {
  display: flex;
  align-items: center;
  margin: 2rem 0; }
  .old-comment img {
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .old-comment h3 {
    font-size: 1.4rem;
    margin-bottom: .2rem; }
    .old-comment h3 span {
      font-size: 1.2rem;
      color: #5a5a5a;
      font-weight: 500;
      margin-left: .8rem; }
  .old-comment__comment-action {
    display: flex;
    align-items: center;
    margin: .8rem 0;
    font-size: 1.4rem; }
    .old-comment__comment-action img {
      border-radius: 0;
      width: 2rem;
      margin-right: .5rem; }
    .old-comment__comment-action span {
      margin-right: 2rem;
      color: #5a5a5a; }
    .old-comment__comment-action a {
      color: #0000ff; }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.right-sidebar {
  flex-basis: 30%;
  padding-top: 8.5rem; }

.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem; }
  .side-video-list:hover .side-video-list__vid-info a {
    color: #0000ff; }
  .side-video-list img {
    width: 100%;
    transition: all .15s; }
    .side-video-list img:hover {
      border-bottom: .1rem solid red;
      transform: scale(0.97);
      box-shadow: 0 .1rem 1rem black; }
  .side-video-list__small-thumbnail {
    flex-basis: 47%; }
  .side-video-list__vid-info {
    flex-basis: 47%; }
    .side-video-list__vid-info a {
      font-size: 1.5rem; }
    .side-video-list__vid-info p {
      font-size: 1.3rem;
      margin-top: .5rem; }

@media (max-width: 56.25em) {
  .play-container {
    padding-left: 5%; }
  .play-container__video {
    flex-basis: 100%; }
  .right-sidebar {
    flex-basis: 100%; }
  .play-container__vid-description {
    padding-left: 0; }
  .play-container__video--info a {
    margin-left: 0;
    margin-right: 1.5rem;
    margin-top: 1.5rem; }
  .side-video-list__vid-info a {
    font-size: 1.8rem; }
  .side-video-list__vid-info p {
    font-size: 1.6rem;
    margin-top: .8rem; } }

@media (max-width: 26.25em) {
  .side-video-list {
    display: block; } }

.explore__thumbnail {
  height: 25rem;
  box-shadow: 0 1rem 2rem #272727;
  transition: all .3s; }
  .explore__thumbnail:hover {
    box-shadow: 0 0.7rem 2rem #524d47; }

.tech-lounge {
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 40rem;
  margin-top: 0;
  position: relative;
  background-size: cover;
  transform: scale(1.01);
  transition: all .3s; }
  .tech-lounge:hover {
    transform: scale(0.98);
    box-shadow: 0 0 20rem 0 black inset; }
  .tech-lounge:hover .tech-lounge__text a {
    color: #ffb700;
    transition: all .4s; }
  .tech-lounge:hover .tech-lounge__text p {
    color: white;
    transition: all .4s; }
  .tech-lounge__img {
    margin-top: 95%; }
  .tech-lounge__text {
    position: absolute; }
    .tech-lounge__text a {
      color: white; }
    .tech-lounge__text p {
      color: #ffb700; }
  .tech-lounge--1 {
    background-image: url(img/bg-img-1.jpg); }
  .tech-lounge--2 {
    background-image: url(img/bg-img-2.jpg); }
  .tech-lounge--3 {
    background-image: url(img/bg-img-3.jpg); }
  .tech-lounge--4 {
    background-image: url(img/bg-img-4.jpg); }
  .tech-lounge--5 {
    background-image: url(img/bg-img-5.jpg); }
  .tech-lounge--6 {
    background-image: url(img/bg-img-6.jpg); }
  .tech-lounge--7 {
    background-image: url(img/bg-img-7.jpg); }
  .tech-lounge--8 {
    background-image: url(img/bg-img-8.jpg); }

.ats-tip {
  width: 100%; }

@media (max-width: 34.25em) {
  .hide-text--1, .tech-lounge__img {
    display: none; }
  .hide-text--2 {
    padding: 3%;
    margin-bottom: 12rem;
    font-size: 1.5rem;
    box-shadow: 0 1.5rem 4rem black; }
    .hide-text--2 a {
      color: #ffb700; }
    .hide-text--2 .lounge-para {
      margin-top: .5rem; } }

@media (min-width: 34.25em) {
  .hide-text--2 {
    display: none; } }

.temp__bg--color div {
  fill: black; }

.gif {
  padding-left: 24%; }

@media (max-width: 56.25em) {
  .gif {
    width: 90vw;
    padding-left: 10%; } }

.btn:link, .btn:visited {
  width: 20rem;
  display: block;
  text-transform: uppercase;
  background-color: white;
  color: white;
  text-decoration: none;
  padding: 1.6rem;
  font-weight: 500;
  background-size: 200%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  transition: all .4s; }

.btn:active, .btn:hover {
  background-position: 100%;
  color: aliceblue;
  transform: translateX(1rem); }

.contact {
  display: flex;
  padding-left: 11rem;
  padding-right: none; }
  .contact__column {
    background-color: rgba(111, 115, 116, 0.158);
    border-radius: .5rem;
    margin: .8rem 1.2rem;
    font-size: 1.6rem;
    color: black;
    padding: 1.6rem 2rem;
    text-align: left;
    line-height: 2rem; }
    .contact__column--left {
      flex-basis: 27%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact__column--left > p {
        margin-top: 2rem; }
    .contact__column--right {
      flex-basis: 57%; }
  .contact__info {
    display: flex;
    margin-top: 2rem;
    align-items: center; }
  .contact__icon-div {
    margin-right: 1.6rem; }
  .contact__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: black; }
  .contact__detail-div {
    text-align: left; }
  .contact__para {
    font-size: 1.6rem; }
    .contact__para--1 {
      font-weight: 800; }

.form {
  margin-top: 2rem; }
  .form__name-email {
    display: flex;
    justify-content: space-between; }
    .form__name-email input {
      border: .2rem solid black;
      flex-basis: 48%; }
  .form__input, .form__text-area {
    font-size: 1.9rem;
    font-family: inherit;
    padding: .5rem;
    border-radius: 1rem;
    border: .1rem solid grey;
    width: 100%;
    margin-top: 1.6rem; }
    .form__input::placeholder, .form__text-area::placeholder {
      font-size: 1.6rem; }
    .form__input:focus, .form__text-area:focus {
      outline: none; }
  .form__text-area {
    height: 10rem; }
  .form__btn {
    margin-top: 2rem; }
    .form__btn .btn:link, .form__btn .btn:visited {
      background-color: white;
      color: black;
      border-radius: 1rem;
      text-align: center;
      background-size: 250%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(255, 166, 0, 0.616) 50%);
      transition: all .4s;
      border: .1rem solid black; }
    .form__btn .btn:active, .form__btn .btn:hover {
      color: black; }

#submit-btn {
  border: none;
  outline: none;
  background-color: transparent; }

@media (max-width: 56.25em) {
  .contact__column--left {
    display: none;
    flex-basis: 0; }
  .contact__column--right {
    flex-basis: 90%; }
  .section-contact .contact {
    padding-left: 10%; }
    .section-contact .contact__column--left h2 {
      font-size: 1rem; }
    .section-contact .contact__column--left p {
      font-size: 1rem; }
    .section-contact .contact__icon {
      height: 1.5rem;
      width: auto; }
  .content__para {
    font-size: 1rem; } }

.retry-search {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 19%; }
  .retry-search h1 {
    font-size: 3.8rem; }
  .retry-search h3 {
    font-size: 1.3rem; }
  .retry-search span {
    color: red; }

.section-thanks {
  height: max-content;
  border-bottom: .2rem solid black;
  text-align: center;
  padding-top: 5rem; }
  .section-thanks .section-thanks-p {
    text-align: left;
    padding-bottom: 5rem;
    font-size: 1.8rem;
    font-weight: 400; }
  .section-thanks .section-div {
    background-color: white;
    margin-bottom: 15rem;
    padding: 2rem; }
    .section-thanks .section-div .checkmark {
      font-size: 12rem;
      text-align: center;
      color: #3fbd3f; }
      .section-thanks .section-div .checkmark::before {
        padding-bottom: 3rem; }
    .section-thanks .section-div .thanks-h1 {
      font-size: 2.4rem; }
    .section-thanks .section-div .thanks-p {
      font-size: 1.6rem; }

/* 
---Mobile, portrait---
320px	iPhone SE
375px	iPhone 6 to X
414px	iPhone 8 Plus

---Mobile, in between---
580px   devices inbetween

---Mobile, landscape---	
568px	iPhone SE
667px	iPhone 6 to 8
736px	iPhone 8 Plus
812px	iPhone X

---Tablet, portrait---	
768px	iPad Air, iPad Mini, iPad Pro 9″
834px	iPad Pro 10″

---Tablet, landscape---	
1024px	iPad Air, iPad Mini, iPad Pro 9″
1024px	iPad Pro 12″ (portrait)
1112px	iPad Pro 10″

---Laptop displays---	
1366px	HD laptops (768p)
1366px	iPad Pro 12″ (landscape)
1440px	13″ MacBook Pro (2x scaling)

---Desktop displays---	
1680px	13″ MacBook Pro (1.5x scaling)
1920px	1080p displays
*/
.iframe {
  width: 90%;
  height: 55rem;
  border: none;
  margin-left: 4rem; }

@media (max-width: 58.875em) {
  .iframe {
    width: 100%;
    margin-left: 0; } }
