.filter-blur {
    filter: blur(3px);
}

.image-click-container {
    min-height: 100vh;
    position: relative;
    z-index: 10;
}

.image-click-container .image-click {
    background-color: aliceblue;
    top: 40%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0%);
    padding: 40px 70px;
    border-radius: 10px;
    border: 4px solid pink;
}

.image-click-container .image-click h3{
    font-size: 2rem;
    text-align: center;
}

.image-click-container .image-click p{
    font-size: 1.2rem;
    text-align: center;
}
.fa-heart {
    font-size: 5rem;
    color: rgb(255, 0, 200);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.image-click-container .image-click .pay-select{
    text-align: center;
    margin-top: 30px;
}

.image-click-container .image-click .pay-select button{
    font-size: 2rem;
    background-color: rgb(255, 162, 0);
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 10px 20px;
}

.image-click-container .image-click .pay-select #to-pay-btn{
    margin-right: 10px;
    background-color: greenyellow;
}

@media (max-width: 768px){
    .image-click-container .image-click {
        width: 90%;
        top: 25%;
        padding: 40px 30px;
    }
}