@-webkit-keyframes apex-1 {
    0% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes apex-2 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 1;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes apex-3 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes apex-4 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 1;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes apex-5 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes apex-6 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes apex-7 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    84% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes gamelounge-home-btn {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .7;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes gamelounge-home-img {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes temp-icon {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: .8;
        color: #fcb565;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes loading-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes policy-appear {
    0% {
        opacity: 0;
    }

    98% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}