// MAIN BG - COLORS
$apex-lounge: linear-gradient(to right, #24243e, #302b63, #0f0c29);
$rainbow6-lounge: linear-gradient(to right, #122710, #114d11, #0c1f0d);
$warzoneM-lounge: linear-gradient(to right, #24243e, #302b63, #0f0c29);
$valorantM-lounge: linear-gradient(to right, #24243e, #302b63, #0f0c29);

// CAROUSEL BG - COLORS
$apex-carousel: linear-gradient(to right, #1D2671, #C33764);;
$rainbow6-carousel: linear-gradient(to right, #114d11, #3763c3);;
$warzoneM-carousel: linear-gradient(to right, #1D2671, #C33764);;
$valorantM-carousel: linear-gradient(to right, #1D2671, #C33764);;

// GAME LOUNGE CHAT BOX/ COMMENT
$apex-comment-box:  linear-gradient(to right, #525280, #6159c0, #2e20aa);
$r6-comment-box:  linear-gradient(to right, #528052, #59c05e, #20aa32);

// SCROLL BAR COLORS
$apex-scrollbar-color: #C33764 #0f0c2900;
$apex-scrollbar-thumb-bg: #c3376383;
$apex-scrollbar-thumb-hover: #C33764;
$apex-scrollbar-track-bg: #0f0c29;

$r6-scrollbar-color: #fafafa #0f0c2900;
$r6-scrollbar-thumb-bg: #c2c2c283;
$r6-scrollbar-thumb-hover: #ffffff;
$r6-scrollbar-track-bg: #0c1f0d;

//COLORS 

//Fallback Colors
$apex-background-main: #0f0c29; // fallback for older browsers
$r6-background-main: #0c1f0d; // fallback for older browsers

$apex-carousel-main: #C33764; // fallback for older browsers
$r6-carousel-main: #3763c3; // fallback for older browsers

$primary-light: #426d49;
$primary-dark: #4f612a;
$primary-light: #28b485;

$secondary-1: #e2b5a8;
$secondary-2: #bbd4eb;
$secondary-3: #B398Be;
$secondary-4: #c4ac6c;

$secondary-1-dark: #876C64;
$secondary-1-dark: #707F8D;
$secondary-1-dark: #80657D;

$secondary-light: #ffb900;
$tertiary-light: #2998ff;

$black: #000;
$brown: #846c38;

$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee; 

// Welding page color variables
$heavy-red--brown: rgb(165, 42, 42);

$service-black: rgb(15, 15, 0);
$service-gold: rgba(255, 217, 0, 0.659);

$page-gold: rgb(255, 215, 0);

$back-to__top--gold: rgb(252, 235, 87);

$testimonial-left: rgb(6, 180, 180);
$testimonial-right: rgb(255, 165, 0);
$testimonial-black: rgb(16, 16, 0);

$contact-bg--blue: rgb(42,80,110);
$contact-form--grey: rgba(143, 143, 143,0.5);
$contact-shadow--blue: rgba(105, 228, 250, 0.856);

$hover-blue: rgb(0, 255, 255);
$hover-grey: rgb(128, 128, 128);
$hover-red: rgb(255, 62, 62);

$alice-blue: rgb(240, 248, 255);