// Main/ Content Section

.container {
    background: #f9f9f9;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 17rem;
    transition: padding-left .2s;

    &__banner {
        width: 100%;
    }

    #currentDate-index {
        border: 1px solid black;
        width: 100%;
        margin: 1% 0;
        padding: .5%;
        background-color: rgb(64,64,44);
        color: white;
        font-size: 1.2rem;
        border-radius: 2px;
    }
}

.bg-video__content {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}



// toggle styling for javascript to fill screen 
// when menu icon is selected to fill empty space
.large__container {
    transition: padding-left .5s;
    padding-left: 7%;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 1.6rem;
    grid-row-gap: 3rem;
    margin-top: 1.5rem;
    padding-left: 15%;
    transition: padding-left .3s;

    &__vid-list {
        width: 90%;

        &:hover &--flex-div--vid-info a {
            color: #0000ff;
        }

        &--thumbnail {
            width: 100%;
            border-radius: .5rem;
        }

        &--flex-div {
            align-items: flex-start;
            margin-top: .7rem;

            & img {
                width: 3.5rem;
                margin-right: 1rem;
                border-radius: 50%;
            }

            &--vid-info {
                color:#5a5a5a;
                font-size: 1.8rem;

                & a {
                    color: black;
                    font-weight: 600;
                    display: block;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

// toggle styling for javascript to fill screen 
// when menu icon is selected to fill empty space
.large__list-container {
    transition: padding-left .5s;
    padding-left: 7%;
}

@media (max-width: 58.875em) {

    .container {
        padding-left: 2rem;
    }

    .list-container {
        padding: 3%;
    }

    .list-container__vid-list {
        margin: 8% 0;
    }

}

@media (max-width: 34.125em) {
    .list-container__vid-list {
        width: auto;
    }

    .list-container__vid-list--flex-div--vid-info {
        font-size: 1.6rem;
    }

    .list-container__vid-list--flex-div--vid-info {
        font-size: 2rem;
    }
}

@media (max-width: 33.75em) {
    .list-container__vid-list--flex-div {
        margin-left: .5rem;
    }
}

@media (max-width: 29.6875em) {
    .bg-video__content {
        height: 30vh;
    }
}



// Discussions Page

.play-container {

    &__video {
        flex-basis: 69%;

        & video {
            width: 100%;
        }

        &--tags {

            & a {
                color: #0000ff;
                font-size: 1.3rem;
            }
        }

        & h3 {
            font-weight: 600;
            font-size: 2.2rem;
        }

        &--info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 1rem;
            font-size: 1.4rem;
            color: #5a5a5a;

            & a {
                display: inline-flex;
                align-items: center;
                margin-left: 1.5rem;

                & img {
                    width: 2rem;
                    margin-right: .8rem;
                }
            }
        }
        & hr {
            border: 0;
            height: .1rem;
            background: #ccc;
            margin: 1rem 0;
        }
    }

    &__publisher {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        & div {
            flex-grow: 1;
            line-height: 1.8rem;

            & p {
                color: black;
                font-weight: 600;
                font-size: 1.8rem;
            }

            & span {
                font-size: 1.3rem;
                color: #5a5a5a;
            }
        }

        & button {
            background-color: rgb(221, 150, 17);
            color: white;
            padding: .8rem 3rem;
            border: none;
            outline: none;
            border-radius: .4rem;
            cursor: pointer;

            &:hover {
                background-color: red;
            }
        }

        & img {
            width: 4rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }
    }

    &__vid-description {
        padding-left: 5.5rem;
        margin: 1.5rem 0;

        & p {
            font-size: 1.4rem;
            margin-bottom: .5rem;
            color: #5a5a5a;
        }

        & h4 {
            font-size: 1.4rem;
            color: #5a5a5a;
            margin-top: 1.5rem;
        }
    }
}

.overflow {
    overflow: hidden;
}

.add-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    padding-left: 1%;

    & img {
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    & input {
        border: none;
        outline: none;
        border-bottom: .1rem solid #ccc;
        width: 50%;
        padding-top: 1rem;
        background: transparent;
    }
}

.old-comment {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    & img {
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    & h3 {
        font-size: 1.4rem;
        margin-bottom: .2rem;

        & span {
            font-size: 1.2rem;
            color: #5a5a5a;
            font-weight: 500;
            margin-left: .8rem;
        }
    }

    &__comment-action {
        display: flex;
        align-items: center;
        margin: .8rem 0;
        font-size: 1.4rem;

        & img {
            border-radius: 0;
            width: 2rem;
            margin-right: .5rem;
        }

        & span {
            margin-right: 2rem;
            color: #5a5a5a;
        }

        & a {
            color: #0000ff;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-sidebar {
    flex-basis: 30%;
    padding-top: 8.5rem;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;

    &:hover &__vid-info a {
        color: #0000ff;
    }

    & img {
        width: 100%;
        transition: all .15s;

        &:hover {
            border-bottom:.1rem solid red;
            transform: scale(.97);
            box-shadow: 0 .1rem 1rem black ;
        }
    }

    // creating space between thumbnail image and vid-info
    &__small-thumbnail {
        flex-basis: 47%;
    }

    &__vid-info {
        flex-basis: 47%;

        & a {
            font-size: 1.5rem;
        }

        & p {
            font-size: 1.3rem;
            margin-top: .5rem;
        }
    }
}

// Media Query for discussions page
@media (max-width:56.25em) {

    .play-container{
        padding-left: 5%;
    }

    .play-container__video {
        flex-basis: 100%;
    }

    .right-sidebar {
        flex-basis: 100%;
    }

    .play-container__vid-description {
        padding-left: 0;
    }

    .play-container__video--info a {
        margin-left: 0;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }

    .side-video-list__vid-info a {
        font-size: 1.8rem;
    }

    .side-video-list__vid-info p {
        font-size: 1.6rem;
        margin-top: .8rem;
    }
}

@media (max-width:26.25em) {
    
    .side-video-list {
        display: block;
    }
}


// Explore Page

.explore {

    &__thumbnail {
        height: 25rem;
        box-shadow: 0 1rem 2rem rgb(39, 39, 39);
        transition: all .3s;

        &:hover {
            box-shadow: 0 .7rem 2rem rgb(82, 77, 71);
        }
    }
}

// Tech Lounge page

.tech-lounge {
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15%);
    height: 40rem;
    margin-top: 0;
    position: relative;
    // img
    background-size: cover;
    transform: scale(1.01);
    transition: all .3s;

    // link cheat, since anchor tag cannot wrap a div to function as intended, this enables me to click and open an article
    .span-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &:hover {
        transform: scale(.98);

        // using inset for shadow to take effect inside the container holding the img
        box-shadow: 0 0 20rem 0 black inset;
    }

    // text
    &:hover &__text a {
        color: rgb(255, 183, 0);
        transition: all .4s;
    }

    &:hover &__text p {
        color: white;
        transition: all .4s;
    }

    &__img {
        margin-top: 95%;
    
    }

    &__text {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.32);
        padding: 5%;

        & a {
            color: white;
        }

        & p {
            color: rgb(255, 183, 0);
        }
    }
    
    &--1 {
        background-image:url(img/bg-img-1.jpg);   
    }

    &--2 {
        background-image:url(img/bg-img-2.jpg);
    }

    &--3 {
        background-image:url(img/bg-img-14.jpg);
    }

    &--4 {
        background-image:url(img/bg-img-4.jpg);
    }

    &--5 {
        background-image:url(img/bg-img-5.jpg);
    }

    &--6 {
        background-image:url(img/bg-img-6.jpg);
    }

    &--7 {
        background-image:url(img/bg-img-7.jpg);
    }

    &--8 {
        background-image:url(img/bg-img-13.jpg);
    }

    &--9 {
        background-image:url(img/bg-img-12.jpg);
    }
}

// Tech Lounge Container Info

.tech-lounge-info--container {
    width: 100%;
    margin-top: 2%;

    .info-main-nav {
        height: 5vh;
        width: 100%;

        .info-main-nav--headers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 4%;

            & h1 {
                font-size: 2rem;
                background-color: #fcb565;
                color: #fff;
                padding: 0.4rem 1rem;
                border-radius: 0.8rem 0 0.8rem 0;
            }

            & svg {
                // courtesy of css filter generator - codepen.io > pjoqqp match & convert #hex color to filter
                filter: invert(56%) sepia(95%) saturate(927%) hue-rotate(68deg) brightness(110%) contrast(83%);
            }
        }
    }

    .tech-lounge-info--body {
        margin: 3%;
        background-color: white;
        position: relative;

        .tech-lounge-info--1 {
            box-shadow: 1px 1rem 2rem black;
            position: relative;

            & img {
                max-height: 25rem;
                width: 100%;
                object-fit: cover;
            }

            .tech-lounge-info-content {
                position: absolute;
                top: 21%;
                padding: 1%;
                background-color: rgba(255, 255, 255, 0.726);

                & h2 {
                    font-size: 4.8rem;
                    color: black;
                    text-shadow: 1px 1px 0.02px rgb(43, 43, 43);
                    line-height: 1.2;
                    font-weight: 400;

                    & span {
                        color: rgb(243, 183, 53);
                        font-weight: bold;
                    }
                }


                & p {
                    font-size: 1.6rem;
                    color: red;
                }
            }

            & button {
                border: none;
                background-color: rgb(255, 218, 98);
                padding: 1rem 1.5rem;
                border-radius: 5px;
                position: absolute;
                bottom: 5%;
                right: 5%;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    border: 1px solid rgb(43, 43, 43);
                    background-color: white;
                }
            }
        }

        .tech-lounge-info--2, .tech-lounge-info--3 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            grid-column-gap: 1.6rem;
            grid-row-gap: 3rem;
            padding: 2%;
            margin: 2.5% 0;

            .tech-article-content {
                width: 100%;

                & h3 {
                    font-size: 3.5rem;

                    & span {
                        color: #ff3c00;
                    }

                    .span-alt {
                        color: #fcb565;
                    }
                }

                & p {
                    padding: 2%;
                    font-size: 1.6rem;
                    line-height: 2;
                }

                .tech-author-details {
                    display: flex;
                    align-items: center;
                    padding: 1%;

                    & img {
                        height: 5rem;
                        border-radius: 100%;
                    }

                    & p {
                        font-weight: bold;
                        color: #00a4d6;                      
                        transition: all .5s;
                        cursor: pointer;

                        &:hover {
                            color: rgb(243, 183, 53);
                        }
                    }
                }
            }

            .tech-article-visuals-rel {
                position: relative;

                .tech-article-visuals-abs, .tech-article-visuals-abs-2 {
                    position: relative; // in media query remove position absolute/ relative for mobile fluidity
                    top: 50%;
                    left: 0%;
                    transform: translate(-0%, -50%);

                    .tech-article-visuals {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 25rem;
                        border: 1px solid black;
                        border-radius: 3px;
                        position: relative;

                        .visual-grad-arrow {
                            position: absolute;
                            bottom: 0%;
                            right: 4%;
                        }

                        .tech-article-visuals-inserts {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            & h1 {
                                text-align: left;
                                font-size: 2.6rem;
                                border-bottom: 0.3rem solid aliceblue;
                                width: 50%;
                            }

                            // link cheat, since anchor tag cannot wrap a div to function as intended, this enables me to click and open an article
                            .span-link {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                z-index: 10;
                            }
                        }
                    }
                }

                .tech-article-visuals-abs-2 { // secondary content section for visuals/ content break
                    transform: translate(0);
                }
            }

            .visual-grad {background-image: linear-gradient(to right, #e42a2a 0%, #ffd050  51%, #ff3c00  100%)}
            .visual-grad {
               padding: 2%;
               text-align: center;
               transition: 0.5s;
               background-size: 200% auto;
               color: white;            
               box-shadow: 0 0 20px #eee;
               filter: blur(.25px);
             }
   
             .visual-grad:hover {
               background-position: right center; /* change the direction of the change here */
               color: #fff;
               text-decoration: none;
             }        
        }

        .tech-previous {
            padding: 0.5rem 1rem;
            position: absolute;
            bottom: 0%;
            left: 45%;
            border-radius: 5px;
            border: none;
            background-color: rgb(40,40,40);
            color: white;
            cursor: pointer;

            &:hover {
                background-color: rgb(82, 77, 71);
            }
        }
    }
}

.tech-lounge-info-div--relative {
    position: relative;

    .article-visit--link {
        position: absolute;
        right: 5%;
        bottom: 25%;

        & p {
            font-size: 1.2rem;
            color: rgb(243, 183, 53);
            transition: all .2s;

            &:hover {
                color: #00a4d6;
            }
        }
    }

    .article-visit--link_2 {
        position: absolute;
        right: 5%;
        bottom: 10%;

        & p {
            font-size: 1.2rem;
            color: rgb(243, 183, 53);
            transition: all .2s;

            &:hover {
                color: #00a4d6;
            }
        }
    }

    .article-carousel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-column-gap: 1.6rem;
        grid-row-gap: 3rem;

        & img {
            height: 8rem;
            width: 100%;
            object-fit: cover;
            padding: 0 2%;
            transition: all .2s;

            &:hover {
                transform: scale(.9);
            }
        }

        & p {
            text-align: center;
            font-size: 1.4rem;
        }
    }
}

.article-hidden {
    display: none;
}
// blur and change outer sections when an article is in focus
.article-outer-blur {
    filter: blur(.65px) brightness(.8);
    pointer-events: none;
    animation: article-blur .5s ease-in-out;
}

// svg wave arrow animation
#red-circle-arrows {
    animation: red-arrow-down 8s ease-in-out infinite;
}

#green-circle-arrows {
    animation: green-arrow-up 8s ease-in-out infinite;
}

#svg-wave {
    animation: svg-wave 10s ease-in-out infinite;
}

#bank-svg {
    animation: bounce 2s ease-in-out infinite;
}

#coin {
    transform-origin: center;
    animation: coin-insert 6s ease-in-out infinite;
}

#google-icon {
    transform-origin: center;
    animation: google-roll 5s ease-in-out infinite;
}

#laptop-icon {
    transform-origin: center;
    animation: laptop-grow 5s ease-in-out infinite;
}

@keyframes laptop-grow {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    85% {
        transform: scale(1);
        opacity: 1;
    }

    95% {
        transform: scale(1.1);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes google-roll {
    0% {
        transform: translateX(50rem) rotate(0deg);
        opacity: 0;
    }

    60% {
        opacity: .3;
    }

    80% {
        transform: translateX(0px) rotate(360deg);
        opacity: 1;
    }

    85% {
        transform: scale(1.1);
    }

    95% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(10rem) scale(1);
        opacity: 0;
    }
}

@keyframes coin-insert {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    60% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(.4);
        opacity: 0;
    }
}

@keyframes article-blur {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes red-arrow-down {
    0% {
        transform: translateY(0); 
        opacity: 1;
    }
      25% {
        transform: translateY(0.5rem);
        opacity: 0; 
    }
      50% {
        transform: translateY(0); 
        opacity: 1;
    }
      75% {
        transform: translateY(0.5rem);
        opacity: 0; 
    }
      100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes green-arrow-up {
    0% {
        transform: translateY(0.5rem); 
        opacity: 0;
    }
      25% {
        transform: translateY(0);
        opacity: 1; 
    }
      50% {
        transform: translateY(0.5rem); 
        opacity: 0;
    }
      75% {
        transform: translateY(0);
        opacity: 1; 
    }
      100% {
        transform: translateY(0.5rem); 
        opacity: 0;
    }
}

@keyframes svg-wave {
    0% {
        transform: scale(.9);
        transform: scaleX(.99);
    }

    50% {
        transform: scale(1.2);
        transform: scaleX(1.06);
    }

    100% {
        transform: scale(.9);
        transform: scaleX(.99);
    }
}

// TechLounge Form - Add to topic

.tech-lounge-form {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    & form {

        .tech-form-top {
            position: fixed;
            right: 0%;
            bottom: 2%;
            margin: 4%;
            z-index: 1;

            .tech-form-submit {
                
                & input {
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    width: 50%;
                    margin: 5%;
                    color: white;
                    background-image: linear-gradient(to right, #4d4d4d 0%, #ffd23e  51%, #cf2323  100%);
                    background-size: 200% auto;
                    cursor: pointer;
                    transition: all .2s;

                    &:hover {
                        background-position: right center;
                    }
                }
            }

            .tech-form-required {

                & input {
                    border-radius: 25px;
                    border: 4px solid #f3b735;
                    margin: 3.5% 0;
                    outline: none;
                    transition: all .2s;
                    padding: 2%;

                    &:focus-within {
                        border: 4px solid #00a4d6;
                    }
                }
            }
        }

        .tech-form__message {
            position: fixed;
            right: 0%;
            bottom: 2%;

            & button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 10px;
                width: 50%;
                margin: 5%;
                color: white;
                background-image: linear-gradient(to right, #4d4d4d 0%, #ffd23e  51%, #cf2323  100%);
                background-size: 200% auto;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    background-position: right center;
                }
            }

            & textarea {
                height: 10rem;
                width: 20rem;
                border-radius: 25px 25px 0;
                padding: 2.2%;
                border: 5px solid rgb(243, 183, 53);
                outline: none;
                transition: all .2s;

                &:focus-within {
                    border: 5px solid #00a4d6;
                }
            }

            & ::placeholder {
                text-align: center;
            }
        }
    }
}

@media (max-width:560px) {
    .tech-lounge-info-content {

        & h2 {
            font-size: 2.8rem !important;
        }

        & p {
            font-size: 1.2rem !important;
        }
    }

    .tech-lounge-info--1 {
        
        & button {
            padding: .5rem 1rem !important;
        }
    }

    .tech-lounge-info--1 {

        img {
            max-height: 17rem !important;
        }
    }

    .tech-author-details {

        & p {
            font-size: 1.2rem !important;
        }
    }

    .tech-article-content {

        & .svg-wave {
            height: 180px !important;
        }
    }

    .tech-article-visuals {
        
        height: 15rem !important;

        .tech-article-visuals-inserts {

            & h1, & svg {
                height: 7rem !important;
                font-size: 1.4rem !important;
            }
        }
    }

    .article-carousel {

        & img {
            height: 6rem !important;
        }

        & p {
            font-size: 1.2rem !important;
        }
    }

    .tech-form__message {

        & textarea {
            height: 8rem !important;
            width: 10rem !important;
        }

        & button {
            font-size: .7rem !important
        }
    }

    .tech-previous {
        font-size: 1rem;
    }
}

@media (max-width:375px) {

    .tech-lounge-info--body {
        margin-top: 10% !important;
    }

    .tech-lounge-info--1 {
        
        & button {
            font-size: 1rem !important;
        }
    }

    .tech-article-visuals {
        
        height: 12rem !important;

        .visual-grad-arrow {
            height: 20px !important;
        }

        .tech-article-visuals-inserts {

            & h1, & svg {
                height: 5rem !important;
                font-size: 1.2rem !important;
            }
        }
    }
}

@media (max-width:320px) {
    .tech-lounge-info-content {

        &  h2 {
            font-size: 2.3rem !important;
        }
    }

    .tech-article-visuals {

        .tech-article-visuals-inserts {

            & h1 {
                font-size: 1.07rem !important;
            }
        }
    }
}

// Resume Scan Page 

.ats-tip {
    width: 100%;
}

@media (max-width:34.25em) {
    .hide-text--1, .tech-lounge__img {
        display: none;
    }

    .hide-text--2 {
        padding: 3%;
        margin-bottom: 12rem;
        font-size: 1.5rem;
        box-shadow: 0 1.5rem 4rem rgb(0, 0, 0);

        & a {
            color: rgb(255, 183, 0);
            background-color: rgba(200,182,182, .1);
            border-radius: 5px;
            padding: 1%;
        }

        .lounge-para {
            margin-top: .5rem;
        }

    }
}

@media (min-width:34.25em) {
    .hide-text--2 {
        display: none;
    }
}


// Whats New Section

.temp__bg--color div {
    fill: black;
}

.gif {

    padding-left: 24%;
}

@media (max-width:56.25em) {
    .gif {
        width: 90vw;
        padding-left: 10%;
    }
}


// Contact Section

.btn {

    &:link,
    &:visited {
        width: 20rem;
        display: block;
        text-transform: uppercase;
        background-color: white;
        color: white;
        text-decoration: none;
        padding: 1.6rem;
        font-weight: 500;

        // creating the header quote button overlay effect
        background-size: 200%;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        transition: all .4s
    }

    &:active,
    &:hover {
        // creating the header quote button movement overlay
        background-position: 100%;
        color: aliceblue;

        // animating the button shift movement
        transform: translateX(1rem)
    }
}

.contact {
    display: flex;
    padding-left: 11rem;
    padding-right: none;

    &__column {
        background-color: rgba(111, 115, 116, 0.158);
        border-radius: .5rem;
        margin: .8rem 1.2rem;
        font-size: 1.6rem;
        color: black;
        padding: 1.6rem 2rem;
        text-align: left;
        line-height: 2rem;

        &--left {
            // remember flex-basis controls the width size of the flex-box element
            flex-basis: 27%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            // > greater than sign selects the direct child/ children of an element/ class to be styled
            & > p {
                margin-top: 2rem;
            }
        }

        &--right {
            flex-basis: 57%;

        }
    }

    &__info {
        display: flex;
        margin-top: 2rem;
        align-items: center;
    }

    &__icon-div {
        margin-right: 1.6rem;
    }

    &__icon {
        height: 2.4rem;
        width: 2.4rem;
        fill: black;
    }

    &__detail-div {
        text-align: left;
    }

    &__para {
        font-size: 1.6rem;

        &--1 {
            font-weight: 800;
        }
    }
}

.form {
    margin-top: 2rem;

    &__name-email {
        display: flex;
        justify-content: space-between;

        & input {
            border: .2rem solid black;
            flex-basis: 48%;
        }
    }

    &__input, &__text-area {
        font-size: 1.6rem;
        font-family: inherit;
        padding: .5rem;
        border-radius: 1rem;
        border: .1rem solid grey;
        width: 100%;
        margin-top: 1.6rem;

        &::placeholder {
            font-size: 1.6rem;
        }

        &:focus {
            outline: none;
        }
    }

    &__text-area {
        height: 10rem;
    }

    &__btn {
        margin-top: 2rem;

        & .btn {
            &:link,
            &:visited {
                background-color: white;
                color: rgb(0, 0, 0);
                border-radius: 1rem;
                text-align: center;
                background-size: 250%;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(255, 166, 0, 0.616) 50%);
                transition: all .4s;
                border: .1rem solid black;
            }

            &:active,
            &:hover {
                color: black;
            }
        }
    }
}

// Contact Form
#submit-btn  {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
}

@media (max-width:56.25em) {

    .contact__column--left {
        display: none;
        flex-basis: 0;
    }

    .contact__column--right {
        flex-basis: 90%;
    }

    .section-contact {

        .contact {
            padding-left: 10%;
            
            &__column--left {

                & h2 {
                    font-size: 1rem;
                }

                & p {
                    font-size: 1rem;
                }
            }

            &__icon {
                height: 1.5rem;
                width: auto;
            }
        }
    }

    .content__para {
        font-size: 1rem;
    }
}

// Failed search/ redirect page

.retry-search {
    text-align: center;
    padding-top: 25%;
    padding-bottom: 19%;

    & h1 {
        font-size: 3.8rem;
    }

    & h3 {
        font-size: 1.3rem;
    }

    & span {
        color: red;
    }
}

// Thank You Page

.section-thanks {
    height:max-content;
    border-bottom: .2rem solid black;
    text-align: center;
    padding-top: 5rem;

    .section-thanks-p {
        text-align: left;
        padding-bottom: 5rem;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .section-div {
        background-color: white;
        margin-bottom: 15rem;
        padding: 2rem;

        .checkmark {
            font-size: 12rem;
            text-align: center;
            color: rgb(63, 189, 63);
        
            &::before {
                padding-bottom: 3rem;
            }
        }

        .thanks-h1 {
            font-size: 2.4rem;
        }

        .thanks-p {
            font-size: 1.6rem;
        }
    }
}
