body {
    background-color: #091407ec;
    color: aliceblue;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0c0c0d;
}

::-webkit-scrollbar-thumb {
    background-color: #303235;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #484b50;
}

.app-container {
    width: 100%;
    margin-top: 10px;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h2, h4 {
    font-weight: 300;
}

h2 {
    text-align: center;
}

label {
    font-weight: 600;
}

.pre-start {
    color: #ffdf00;
}

.inner-fill {
    color: #e7fff5;
}

#output {
    background-color: #16142857;
    color: ghostwhite;
    padding: 0 10px 5px 10px;
}

#input,
#output {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

#input {
    border-right: 2px solid black;
}

#form {
    padding: 10px;
}

i {
    cursor: pointer;
}

input[type=text]:focus,
textarea.form-control:focus {
    outline: 2px solid #fff;
    border: 3px solid red;
}

textarea.form-control {
    min-height: calc(5em + 0.75rem + 2px);
}

@media(max-width: 768px) {
    #app {
        flex-direction: column-reverse;
    }

    #input,
    #output {
        width: 100%;
    }

    #input {
        height: 65%;
    }

    #output {
        height: 35%;
    }
}

@media(max-width: 321.5px) {
    #paraEl {
        margin-bottom: 10px;
    }
}

/* List Element Box Click */

#listBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(58 96 52 / 75%);
    padding: 20px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
    border-radius: 5px;
    border: none;
    z-index: 2;
}

#listBox input {
    border-radius: 5px;
    border: none;
}

#submit-num-list-items {
    background: #4289f2;
    border: 1.5px solid yellow;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}

#listCustom {
    border-radius: 100%;
    background-color: yellowgreen;
}

#close-custom-list {
    font-size: 1.3rem;
    float: right;
}

/* Ai Gen */
#ai-gen {
    background-color: red;
}

#key-access {
    background-color: rgba(23, 23, 23, 0.322);
    color: white;
}

.ask-ai {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000a1891;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.ask-ai textarea {
    width: 100%;
    border: 2px green solid;
    background-color: aliceblue;
    border-radius: 5px;
}

#aiGenerateText {
    border: none;
    border-radius: 5px;
    background-color: #70a162f0;
    color: aliceblue;
    margin-right: 20px;
}

#closeAiGenerate {
    border: 1.5px solid #004891;
    background-color: red;
    border-radius: 4px;
}

#TopicInsert {
    display: block;
    margin: 0 auto;
    width: 20%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid aliceblue;
    outline: none;
    background-color: #181600a6;
    color: white;
}

#TopicInsert::placeholder {
    color: white;
}

#toggleButton {
    position: absolute;
    top: 36px;
    left: 48%;
    transform: translate(-50%, 20%);
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid aliceblue;
    outline: none;
    background-color: #181600a6;
    color: white;
}

.toggle-btn-top {
    top: 3px !important;
}

.loading {
    display: none;
}

.loading-messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    animation: dip-in-out 3s linear infinite;
    z-index: 10;
}

.loading-messages p {
    margin: 0;
    padding: 0;
}

.loading-messages p:nth-of-type(2) {
    margin-top: 10px;
}

@keyframes dip-in-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 420px) {
    #TopicInsert {
        width: 35%;
    }

    .ask-ai {
        width: 80%;
    }
}

@media(max-width: 375px) {
    #TopicInsert {
        width: 35%;
    }

    .ask-ai {
        width: 80%;
    }

    #aiGenerateText {
        margin-right: 10px;
    }

    #ai-gen {
        margin-top: 10px;
    }
}