* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-width: 26em;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-family: 'Work Sans', sans-serif;
    min-width: 26em;
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img, i, button {
    cursor: pointer;
}

svg {
    cursor: pointer;
}