:root {
    --green-color: #5fad05;
    --dark-green-color: #559b04;
    --red-color: #e60012;
    --spanish-gray: #999999;
    --sonic-silver: #787878;
    --eerie-black: #212121;
    --salmon-pink: #ff8f9c;
    --sandy-brown: #f6a355;
    --bittersweet: #ff6666;
    --ocean-green: #46c389;
    --davys-gray: #545454;
    --cultured: #ededed;
    --white: #ffffff;
    --onyx: #454545;
    margin: 0 !important;
    --fs-5: 1.8rem;
    --fs-7: 1.6rem;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --border-radius-sm: 5px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

body {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #212121
}

::selection {
    color: #f2f2f2;
    background: #41f6ae
}

.sidebar::after,
.sidebar::before,
body::after,
body::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

body::-webkit-scrollbar {
    width: 1vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

body::-webkit-scrollbar-track {
    background-color: #303030
}

body::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

button {
    cursor: pointer
}

.hide {
    display: none
}

.content-hub-nav-fixed {
    background-color: #dc143c;
    position: fixed;
    top: -3px;
    width: 100%;
    z-index: 4;
    max-width: 1200px
}

.content-hub-nav-fixed .content-hub-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px
}

#location-currentDate {
    color: #fff;
    font-size: 12px
}

#button {
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: 260ms;
    width: 40px;
    text-align: center;
    height: 35px
}

#button:hover {
    transform: scale(1.2)
}

.data-search-bar {
    background-color: #fff;
    border-radius: 25px;
    width: 50%;
    height: 40%
}

@media (max-width:768px) {
    .data-search-bar {
        width: 60%
    }
}

.data-search-bar form {
    display: flex;
    align-items: baseline
}

.data-search-bar form #search-icon {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: #000
}

.data-search-bar form input {
    padding: 2%;
    border: none;
    outline: 0;
    border-radius: 25px;
    width: 85%;
    background-color: transparent
}

.data-search-bar form input::placeholder {
    font-size: 1.6rem
}

.data-search-bar form input:-webkit-autofill,
.data-search-bar form input:-webkit-autofill:active,
.data-search-bar form input:-webkit-autofill:focus,
.data-search-bar form input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #c33764 !important
}

.menu-icon {
    font-size: 2.5rem;
    padding: 0 .5%;
    border-radius: 10px
}

.menu-icon #menu-bars {
    color: #fff
}

.loader-container {
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 150px
}

@media (max-width:960px) {
    .loader-container {
        top: 20%
    }
}

.circle {
    display: inline-block;
    background-color: #0ff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: grow 1.5s linear infinite;
    transform: scale(0);
    margin: -10px
}

.circle:nth-child(2) {
    background-color: #98fb98;
    animation-delay: .75s
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes grow {
    50% {
        transform: scale(1)
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, .5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: .5s ease
}

.overlay.active {
    opacity: 1;
    pointer-events: all
}

.sidebar {
    background-color: #212121;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    max-width: 320px;
    padding: 30px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: .5s ease;
    z-index: 99999999
}

.sidebar.active {
    left: 0;
    visibility: visible
}

.sidebar-menu-category-list {
    max-height: 350px;
    list-style: none;
    overflow-y: scroll;
    display: none
}

.sidebar-menu-category-list::-webkit-scrollbar {
    width: 1vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

.sidebar-menu-category-list::-webkit-scrollbar-track {
    background-color: #303030
}

.sidebar-menu-category-list::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

.sidebar-menu-category-list::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

.sidebar-menu-category {
    margin: 10px 0
}

.sidebar-menu-category a {
    text-decoration: none
}

.sidebar-category {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--cultured)
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px
}

.sidebar-top span {
    cursor: pointer;
    background-color: #24243e;
    color: var(--cultured);
    padding: 1rem
}

.sidebar-title {
    color: var(--cultured);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: .8px;
    font-weight: var(--weight-600);
    opacity: 0
}

.sidebar-close-btn {
    background: 0 0;
    color: #f0f8ff;
    border: none;
    font-size: 28px;
    font-weight: var(--weight-600)
}

.sidebar .menu-title-flex {
    display: flex;
    align-items: center;
    gap: 10px
}

.sidebar .menu-title {
    font-size: var(--fs-5);
    color: var(--eerie-black);
    font-weight: var(--weight-500)
}

.sidebar .product-name {
    text-transform: capitalize
}

.sidebar .showcase-wrapper {
    margin-top: 70px
}

.showcase-wrapper .showcase-other {
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    color: #24243e;
    display: none
}

.showcase-wrapper .showcase-other i {
    font-size: 2.5rem
}

.sidebar .showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px
}

.sidebar .showcase:not(:last-child) {
    margin-bottom: 25px
}

.sidebar .showcase-content {
    width: calc(100% - 90px)
}

.sidebar .showcase-content a {
    text-decoration: none
}

.sidebar .showcase-title {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: var(--cultured);
    padding: 5px;
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .5px
}

.video-lounge-container {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow: hidden
}

.video-lounge-container .lounge-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #212121
}

.video-lounge-container .lounge-flex .video-carousel {
    position: relative;
    width: 70vw;
    height: 70vh
}

.video-lounge-container .lounge-flex .video-carousel .video-lounge-exit {
    position: absolute;
    top: 0;
    right: 1%;
    background-color: #24243e;
    padding: 1%;
    border-radius: 5px;
    font-size: 30px;
    color: #fff;
    z-index: 3
}

.video-lounge-container .lounge-flex .video-carousel .loader {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    border: 10px solid #f3f3f3;
    border-top: 8px solid red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: rotate 3s linear infinite
}

.video-lounge-container .lounge-flex .video-carousel #video-embed {
    width: 100%
}

.video-lounge-container .lounge-flex .video-carousel #video-embed iframe {
    position: absolute;
    width: 100%;
    height: 60vh
}

.video-lounge-container .lounge-flex .video-carousel .video-controls {
    display: none;
    position: absolute;
    bottom: -12px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    width: 100%
}

.video-lounge-container .lounge-flex .video-carousel .video-controls .icons {
    padding: .5% 1.5%;
    border-radius: 100%;
    margin: 0 2%
}

.video-lounge-container .lounge-flex .video-carousel .video-controls .video-shuffle {
    color: red
}

.video-lounge-container .lounge-flex .video-live-chat {
    width: 30%
}

.video-lounge-container .lounge-flex .video-live-chat #video-chat-widget {
    height: 100vh;
    overflow: scroll;
    scrollbar-color: #c33764 #0f0c2900;
    scrollbar-width: thin !important
}

.video-lounge-container .lounge-flex .video-live-chat #video-chat-widget::-webkit-scrollbar {
    width: 1vw
}

.video-lounge-container .lounge-flex .video-live-chat #video-chat-widget::-webkit-scrollbar-thumb {
    background-color: #c3376383;
    border-radius: 10px
}

.video-lounge-container .lounge-flex .video-live-chat #video-chat-widget::-webkit-scrollbar-thumb:hover {
    background-color: #c33764
}

.video-lounge-container .lounge-flex .video-live-chat #video-chat-widget::-webkit-scrollbar-track {
    background-color: transparent
}

@media (max-width:960px) {
    .video-lounge-container .lounge-flex {
        display: block !important
    }

    .video-lounge-container .lounge-flex .video-carousel {
        width: 100% !important;
        height: 40vh !important;
        position: fixed !important;
        z-index: 1 !important
    }

    .video-lounge-container .lounge-flex .video-carousel #video-embed iframe {
        height: 38vh !important
    }

    .video-lounge-container .lounge-flex .video-carousel .video-controls {
        padding: .5% 0 !important;
        background-color: #2b2b2b !important
    }

    .video-lounge-container .lounge-flex .video-carousel .video-lounge-ad {
        display: none !important
    }

    .video-lounge-container .lounge-flex .video-live-chat {
        width: 100% !important;
        position: absolute !important;
        bottom: 0 !important
    }

    .video-lounge-container .lounge-flex .video-live-chat #video-chat-widget {
        height: 55vh !important
    }
}

@media (max-width:560px) {
    .video-lounge-container .lounge-flex .video-carousel .video-controls {
        font-size: 22px !important
    }
}

.search-results {
    height: 100%
}

.search-results .search-results-exit {
    position: fixed;
    top: 0;
    right: 1%;
    background-color: #24243e;
    padding: 1%;
    border-radius: 5px;
    font-size: 30px;
    color: #fff;
    z-index: 3
}

#open-blog-btn {
    position: sticky;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 30px 0;
    padding: 1rem 2rem;
    border: none;
    background-color: #63636385;
    color: #f0f8ff;
    border-radius: 18px;
    bottom: 2.5%
}

.search-results #videoListContainer {
    max-width: 1200px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px)
}

.search-results #videoListContainer #search-h4 {
    max-width: 1440px;
    background-color: teal;
    font-size: 20px;
    color: #fff;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 1%;
    display: none;
    justify-content: center;
    align-items: center
}

.search-results #videoListContainer ul {
    text-align: center;
    padding-top: 120px;
    background-color: #212121
}

.search-results #videoListContainer ul .data-num {
    display: inline-grid
}

.search-results #videoListContainer ul .data-num li {
    margin: 5% 1% 0 0;
    max-width: 300px;
    font-size: 20px;
    color: #fff;
    list-style-position: inside;
    list-style: none
}

.search-results #videoListContainer ul .data-num li a .search-thumbnail {
    height: 250px;
    width: 300px;
    padding: 2%;
    background-color: #f0f8ff;
    padding: 8px;
    border-radius: 5px
}

.search-results #videoListContainer ul .data-num li #para-search-return {
    overflow: hidden;
    color: #f0f8ff
}

.lower-meta-content {
    height: auto;
    color: #000;
    padding: 20px
}

@keyframes dot-scaling {

    0%,
    100% {
        transform: scale(.2);
        background-color: #30ffb7
    }

    40% {
        transform: scale(1);
        background-color: #07deff
    }

    50% {
        transform: scale(1);
        background-color: #0761ff
    }
}

.lower-meta-text {
    font-size: 1.6rem
}

.lower-meta-list {
    margin: 15px
}

.lower-meta-list .lower-meta-list-item {
    font-size: 1.6rem
}