.top-picks {
    padding: 4rem 0 !important;
}
.copy-button {
    float: right;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #272822;
    color: white;
}
.code-block-pre {
    display: flex;
    overflow-x: scroll;
    color:#f8f8f2;
    background-color:#272822;
    border-radius: 5px;
    padding: 0 20px;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
}
.code-block-span-flex {
    display: flex;
    font-size: 1.6rem;
}
.code-block-element {
    color:#f92672;
}
.code-block-attr {
    color:#a6e22e;
}
.code-block-attr-inner {
    color:#e6db74;
}
.code-block-pre::-webkit-scrollbar {
    height: 1.5vh;
    overscroll-behavior: contain;
    scrollbar-width: thin !important;
}

.code-block-pre::-webkit-scrollbar-track {
    background-color: #272822;
}

.code-block-pre::-webkit-scrollbar-thumb {
    background-color: #f8f8f292;
    border-radius: 10px;
}

.code-block-pre::-webkit-scrollbar-thumb:hover {
    background: #f8f8f249;
}
.mini-banner {
    background-color: lightseagreen;
}
#demo-gif-display {
    border: 2px solid lightseagreen;
    padding: 15px;
    background-color: aliceblue;
}